<div class="col-md-12">
	<div class="card" id="about">
		<div class="card-block">
			<div class="row">
				<div class="col-md-6">
					<h4>Retrieving</h4>
					<p>Spee.ch is a means by which you can retrieve free, public media assets that are on the LBRY blockchain. You can use Spee.ch urls to retrieve an asset directly in other websites. For example, you could use:<code>&ltimg src="https://spee.ch/example" /&gt</code></p>
				</div>
				<div class="col-md-6">
					<h4>Publishing</h4>
					<p>Spee.ch is an application that allows you to publish free, public media assets -- such as images, videos, and music -- to the LBRY blockchain.</p>
				</div>
			</div>
		</div>
	</div>
</div>