<div class="panel">
	<h2>metadata</h2>
	<table class="table-metadata" style="table-layout: fixed">
		<tr>
			<td class="left-column">Name</td>
			<td>{{fileInfo.name}}</td>
		</tr>
		<tr>
			<td class="left-column">Claim Id</td>
			<td>{{fileInfo.claimId}}</td>
		</tr>
		<tr>
			<td class="left-column">File Name</td>
			<td>{{fileInfo.fileName}}</td>
		</tr>
		<tr>
			<td class="left-column">fileType</td>
			<td>{{fileInfo.fileType}}</td>
		</tr>
	</table>
</div>