<div>
	<h2>Bugs</h2>
	<p>Spee.ch is young and under continuous development so it will have bugs.  Please leave an issue on our <a class="link--primary" href="https://github.com/lbryio/spee.ch">github</a> if you experience a problem or have suggestions.</p>
</div>
