<div class="col-md-6">
	<div class="card card-block" id="bugs">
		<div class="card-title">
			<h2>Bugs</h2>
		</div>
		<p>Spee.ch is young and under continuous development so it will have bugs.  Please leave an issue on our <a href="https://github.com/lbryio/spee.ch">github</a> if you experience a problem or have suggestions.</p>
	</div>
</div>