<form id="channel-login-form">
    <div class="row row--wide row--short">
        <div class="column column--3 column--sml-10">
            <label class="label" for="channel-login-name-input">Name:</label>
        </div><div class="column column--6 column--sml-10">
            <div class="input-text--primary">
                <span>@</span>
                <input type="text" id="channel-login-name-input" class="input-text" placeholder="" value="">
            </div>
        </div>
    </div>
    <div class="row row--wide row--short">
        <div class="column column--3 column--sml-10">
            <label class="label" for="channel-login-password-input" >Password:</label>
        </div><div class="column column--6 column--sml-10">
            <div class="input-text--primary">
                <input type="password" id="channel-login-password-input" class="input-text" placeholder="" value="">
            </div>
        </div>
    </div>
    <div class="info-message-placeholder">
        <div id="login-error-display-element" class="info-message info-message--failure"></div>
    </div>
    <div class="row row--wide">
        <button class="button--primary" onclick="loginToChannel(event)">Authenticate</button>
    </div>
</form>