<div class="col-md-6">
	<div class="card card-block" id="contribute">
		<div class="card-title"><h2>Contribute</h2></div>
		<p>If you would like to help make Spee.ch amazing, join our <a href="https://lbry.slack.com">slack</a> channel!</p>
	</div>
</div>