<div class="panel">
	<h2>Documentation
		<a class="toggle-link" id="documentation-toggle" href="#" onclick="toggleSection(event)" data-open="false" data-slaveelementid="documentation-detail">[open]</a>
	</h2>
	<div id="documentation-detail" hidden="true">
		<code>https://spee.ch/</code>
		<ul>
			<li>Learn about Spee.ch and publish your own media</li>
		</ul>
		<code>https://spee.ch/:name</code>
		<ul>
			<li >Serves the newest file with the largest bid at a claim</li>
			<li >E.g. <a href="/doitlive">spee.ch/doitlive</a></li>
		</ul>
		<code>https://spee.ch/:name/:claim_id</code>
		<ul>
			<li >Serves a specific file at a claim</li>
			<li >E.g. <a href="/doitlive/c496c8c55ed79816fec39e36a78645aa4458edb5">spee.ch/doitlive/c496c8c55ed79816fec39e36a78645aa4458edb5</a></li>
		</ul>
		<code>https://spee.ch/:name/all</code>
		<ul>
			<li >Displays a list of all files at a claim</li>
			<li >E.g. <a href="/doitlive/all">spee.ch/doitlive/all</a></li>
		</ul>
	</div>
</div>