<div class="panel">
	<h2>Documentation
		<a class="toggle-link" id="documentation-toggle" href="#" onclick="toggleSection(event)" data-open="false" data-openlabel="[ - ]" data-closedlabel="[ + ]" data-slaveelementid="documentation-detail">[ + ]</a>
	</h2>
	<div id="documentation-detail" hidden="true">
		<code>https://spee.ch/</code>
		<ul>
			<li>Learn about Spee.ch and publish your own media</li>
		</ul>
		<code>https://spee.ch/:name.ext</code>
		<ul>
			<li >Serves the winning free, public claim at this name directly</li>
			<li >E.g. <a href="/doitlive.png">spee.ch/doitlive.png</a></li>
		</ul>
		<code>https://spee.ch/:name</code>
		<ul>
			<li >Serves an HTML page which shows the winning claim at this name with additional details</li>
			<li >E.g. <a href="/doitlive">spee.ch/doitlive</a></li>
		</ul>
		<code>https://spee.ch/:name/:claim_id.ext</code>
		<ul>
			<li >Serves a specific image or video file directly</li>
			<li >E.g. <a href="/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0/doitlive.jpg">spee.ch/doitlive/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0.jpg</a></li>
		</ul>
		<code>https://spee.ch/:name/:claim_id</code>
		<ul>
			<li >Serves an HTML page with this specific claim and additional details</li>
			<li >E.g. <a href="/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0/doitlive">spee.ch/doitlive/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0</a></li>
		</ul>
		<code>https://spee.ch/:name/all</code>
		<ul>
			<li >Displays a list of all files at a claim</li>
			<li >E.g. <a href="/doitlive/all">spee.ch/doitlive/all</a></li>
		</ul>
	</div>
</div>