<div id="documentation">
	<h2>Documentation</h2>
	<h3>Site Navigation</h3>
	<ul>
		<li><strong><a href="/">spee.ch</a></strong>.
			<ul>
				<li>To publish a file, navigate to the homepage.</li>
			</ul>
		</li>
		<li><strong>spee.ch/&ltthe name of the claim&gt</strong>
			<ul>
				<li>To view the file with the largest bid at a claim.</li>
				<li>E.g. <a href="/doitlive">spee.ch/doitlive</a>.</li>
			</ul>
		</li>
		<li><strong>spee.ch/&lt the name of the claim &gt/&lt the claim_id &gt</strong>
			<ul>
				<li>To view a specific file at a claim</li>
				<li>E.g. <a href="/doitlive/c496c8c55ed79816fec39e36a78645aa4458edb5">spee.ch/doitlive/c496c8c55ed79816fec39e36a78645aa4458edb5</a></li>
			</ul>
		</li>
		<li><strong>spee.ch/&ltthe name of the claim&gt/all</strong>
			<ul>
				<li>To view a batch of files at a claim</li>
				<li>E.g. <a href="/doitlive/all">spee.ch/doitlive/all</a></li>
			</ul>
		</li>
	</ul>
	<h3>API</h3>
	<p>Note: these are being used for testing durring spee.ch development and may not be maintained</p>
	<ul>		
		<li>A GET request to <strong>spee.ch/claim_list/&ltthe name of the claim&gt</strong> 
			<ul>
				<li>Will return the claim_list for the claim in json format. </li> 
				<li>E.g. <a href="/claim_list/doitlive">spee.ch/claim_list/doitlive</a></li>
			</ul>
		</li>
	</ul>
</div>