<div class="col-md-12">
	<div class="card" id="documentation">
		<div class="card-title card-block default-color-dark white-text">
			<h2>Site Navigation</h2>
		</div>
		<div class="row">
			<div class="col-md-12">
				<strong>Spee.ch/</strong>
				<li><a href="/">https://spee.ch</a></li>
				<li>Learn about Spee.ch and publish your own media</li>
				<br>
				<strong>spee.ch/&ltthe name of the claim&gt</strong>
				<li >Serves the newest file with the largest bid at a claim</li>
				<li >E.g. <a href="/doitlive">spee.ch/doitlive</a>.</li>
				<br>
				<strong>spee.ch/&lt the name of the claim &gt/&lt the claim_id &gt</strong>
				<li >Serves a specific file at a claim</li>
				<li >E.g. <a href="/doitlive/c496c8c55ed79816fec39e36a78645aa4458edb5">spee.ch/doitlive/c496c8c55ed79816fec39e36a78645aa4458edb5</a></li>
				<br>
				<strong>spee.ch/&ltthe name of the claim&gt/all</strong>
				<li >Displays a list of all files at a claim</li>
				<li >E.g. <a href="/doitlive/all">spee.ch/doitlive/all</a></li>
			</div>
		</div>
	</div>
</div>