<div class="panel">
	<h2>Documentation
		<a class="link--primary link--right" id="documentation-toggle" href="#" onclick="toggleSection(event)" data-open="false" data-slaveelementid="documentation-detail">[open]</a>
	</h2>
	<div id="documentation-detail" hidden="true">
		<code>spee.ch/[name].[ext]</code>
		<ul>
			<li>Serves the winning free claim at this name directly</li>
			<li>E.g. <a class="link--primary" href="/doitlive.png">spee.ch/doitlive.png</a></li>
		</ul>
		<code>spee.ch/[name]</code>
		<ul>
			<li>Serves an HTML page which shows the winning claim at this name with additional details</li>
			<li>E.g. <a class="link--primary" href="/doitlive">spee.ch/doitlive</a></li>
		</ul>
		<code>spee.ch/[claim_id]/[name].[ext]</code>
		<ul>
			<li>Serves a specific piece of content directly</li>
			<li>E.g. <a class="link--primary" href="/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0/doitlive.jpg">spee.ch/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0/doitlive.jpg</a></li>
		</ul>
		<code>spee.ch/[claim_id]/[name]</code>
		<ul>
			<li>Serves an HTML page with this specific piece of content and additional details</li>
			<li>E.g. <a class="link--primary" href="/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0/doitlive">spee.ch/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0/doitlive</a></li>
		</ul>
	</div>
</div>