<div class="panel">
	<h2>Examples
		<a class="toggle-link" id="examples-toggle" href="#" onclick="toggleSection(event)" data-open="false" data-slaveelementid="examples-detail">[open]</a>
	</h2>
	<div id="examples-detail" hidden="true">
		<div class="example">
			<h4>Use spee.ch to embed a specific image:</h4>
			<a href="/doitlive/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0"><img class="example-image" src="/doitlive/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0"/></a>
			<div class="example-code">&lt;img src="https://spee.ch/doitlive/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0"/&gt;</div>
		</div>
		<div class="example">
			<h4>Use spee.ch to serve a top LBRY claim:</h4>
			<a href="/doitlive"><img class="example-image" src="/doitlive"/></a>
			<div class="example-code">&lt;img src="https://spee.ch/doitlive"/&gt;</div>
		</div>
	</div>
</div>