<div class="panel">
	<h2>What is spee.ch?
		<a class="toggle-link" id="examples-toggle" href="#" onclick="toggleSection(event)" data-open="false" data-slaveelementid="examples-detail">[open]</a>
	</h2>
	<div id="examples-detail" hidden="true">
		<p>Spee.ch is an image hosting service based on the LBRY blockchain. It reads and publishes free, public images.</p>
		<div class="example">
			<h4>Use spee.ch to embed a specific image:</h4>
			
			<img class="example-image" src="/doitlive/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0"/>
			<span class="code">&lt;img src="https://spee.ch/doitlive/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0"/&gt;</span>
			<p><a href="/doitlive/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0">spee.ch/doitlive/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0</a></p>
		</div>
		<div class="example">
			<h4>Use spee.ch to serve a top LBRY claim:</h4>
			<img class="example-image" src="/doitlive"/>
			<span class="code">&lt;img src="https://spee.ch/doitlive"/&gt;</span>
			<p><a href="/doitlive">spee.ch/doitlive</a></p>
		</div>
		<div class="example">
			<h4>Use spee.ch to view all the assets at a LBRY claim:</h4>
			<div class="example">
				<a href="/doitlive/all">spee.ch/doitlive/all</a>
			</div>
		</div>
	</div>
</div>