<div class="panel">
	<h2>Examples
		<a class="toggle-link" id="examples-toggle" href="#" onclick="toggleSection(event)" data-open="false" data-openlabel="[ - ]" data-closedlabel="[ + ]" data-slaveelementid="examples-detail">[ + ]</a>
	</h2>
	<div id="examples-detail" hidden="true">
		<div class="example">
			<h4>Use spee.ch to embed a specific image:</h4>
			<a href="/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0/doitlive.jpg"><img class="example-image" src="/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0/doitlive.jpg"/></a>
			<div class="example-code">&lt;img src="https://spee.ch/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0/doitlive.jpg"/&gt;</div>
		</div>
		<div class="example">
			<h4>Use spee.ch to serve the top free image at a claim:</h4>
			<a href="/doitlive.png"><img class="example-image" src="/doitlive.png"/></a>
			<div class="example-code">&lt;img src="https://spee.ch/doitlive.png"/&gt;</div>
		</div>
	</div>
</div>