<div class="col-md-12">
	<div class="card" id="examples">
		<div class="card-title card-block grey lighten-1 white-text">
			<h2>What Is Spee.ch?</h2>
		</div>
		<div class="row">
			<div class="col-md-6" id="contribute">
				<h2>Spee.ch is for sharing</h2>
				<p>Spee.ch is a platform by which you can publish images to the Lbry blockchain.  Just upload an image, title it, and send it off into the lbry ecosystem.</p>
				<p>Spee.ch is also a platform to serve you those images.  It's like have a personal chef that will serve you a meal anywhere in the world.  All you have to do is ask for it, by using "spee.ch/" + the name of a claim.</p>
				<p>If you want a specific image, just ask for it with the claim_id by using "spee.ch/" + the name of the claim + "/" + the claim id.</p>
			</div>
			<div class="col-md-6" id="bugs">
				<h2>Examples</h2>
				<h5>Use spee.ch to serve the top asset at a lbry claim:</h5>
				<a href="/coconuts">spee.ch/coconuts</a><br>
				<a href="/wood">spee.ch/wood</a><br>
				<a href="/doitlive">spee.ch/doitlive</a><br>
				<h5>Use spee.ch to show you all the assets at a lbry claim:</h5>
				<a href="/doitlive/all">spee.ch/doitlive/all</a>
				<h5>Use spee.ch to serve you a specific asset by claim id:</h5> 
				<a href="/doitlive/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0">spee.ch/doitlive/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0</a>
			</div>
		</div>
	</div>
</div>