<div id="examples">
	<h2>Examples:</h2>
	<ul>
		<li><a href="/coconuts">spee.ch/coconuts</a></li>
		<li><a href="/wood">spee.ch/wood</a></li>
		<li><a href="/doitlive">spee.ch/doitlive</a></li>
		<li><a href="/doitlive/all">spee.ch/doitlive/all</a></li>
		<li><a href="/doitlive/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0">spee.ch/doitlive/ca3023187e901df9e9aabd95d6ae09b6cc69b3f0</a></li>
	</ul>
</div>