<a href="{{this.showUrlLong}}">
{{#ifConditional this.contentType '===' 'video/mp4'}}
    <img class="content-list-item-asset grid-item" src="{{this.thumbnail}}"/>
{{else}}
    <img  class="content-list-item-asset grid-item" src="{{this.directUrlLong}}" />
{{/ifConditional}}
</a>