<div class="learn-more stop-float">
	<p><i>Spee.ch is an open-source project. We would love it if you <a href="https://github.com/lbryio/spee.ch/issues">contributed</a> to the existing site, or <a  href="https://github.com/lbryio/spee.ch">forked it</a> and made your own!</i></p>
	<p><a href="/about">Learn more about spee.ch</a></p>
</div>