<div class="learn-more stop-float">
	<p><i>Spee.ch is an open-source project. You should <a class="link--primary" href="https://github.com/lbryio/spee.ch/issues">contribute</a> on github, or <a  href="https://github.com/lbryio/spee.ch">fork it</a> and make your own!</i></p>
</div>