<div class="col-md-12">
	<div class="card" id="publish">
		<div class="card-title card-block grey lighten-1 white-text">
			<h2>Recent Meme Fodder</h2>
		</div>
		<div class="card-block" id="publish-active-area">
			<div class="row">
				<div class="col-md-12">
					<p>Below are some of the most recent images that have been fuel for our enjoyment on /meme-fodder</p>
				</div>
			</div>
			<div class="row">
			{{#each claims}}
				<div class="col-md-3">
					<a href="/{{this.name}}/{{this.claim_id}}">
					<img class="all-claims-img" src="/{{this.name}}/{{this.claim_id}}" /></a>
				</div>
				<hr>
			{{/each}}
			</div>
		</div>
	</div>
</div>