<div class="col-md-12">
	<div class="card" id="publish">
		<div class="card-title card-block grey lighten-1 white-text">
			<h2>Recent Publishes</h2>
		</div>
		<div class="card-block" id="publish-active-area">
			<div class="row">
				<p>Below are some of the most recent entries published via /meme-fodder</p>
				(pull all the claims published to 'lbryMemeFodder' and display most recent 20 here)
				(maybe a voting system?  Is there a way to allow people to donate funds to a claimId so that it will show up higher in the results?)
			</div>
		</div>
	</div>
</div>