<div class="col-md-12">
	<div class="card" id="publish">
		<div class="card-title card-block grey lighten-1 white-text">
			<h2>Meme Generator</h2>
		</div>
		<div class="card-block" id="publish-active-area">
			<form id="meme-form" action="" method="" enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-6">
					<canvas id="meme-canvas">
						If you can see this, canvas is not supported.
					</canvas>
					<img id="start-image" src="http://spee.ch/meme-fodder" alt="a picture to make your meme with" hidden="true"/>
				</div>
				<div class="col-md-6">
					<input type="text" value="Is it ready?" id="top-text" />
					<input type="text" value="Who cares, ship it!" id="bottom-text" />
				</div>
			</div>
			</form>
		</div>
	</div>
</div>