<div class="card" id="publish">
	<h2>#LBRYMemeFodder</h2>
	<div class="col-md-12">
		<h3>Congratulations, you found the /meme-fodder game!</h3>
		<p>Create a meme based on the current <i>lbry://meme-fodder</i> claims using the tool below.</p>  
	</div>
	<div class="col-left">
		<canvas id="meme-canvas">
			If you can see this, the meme generator is not supported by your browser.
		</canvas>
		<img id="start-image" src="/meme-fodder" alt="a picture to make your meme with"/>
	</div>
	<div class="col-right">
		<textarea id="direct-link-holder" hidden="true">No URL yet</textarea>
		<div id="publish-active-area">
			<p>
				<label>Meme:</label><br/>
				<input id="top-text" type="text" value="Hello" /><br/>
				<input id="bottom-text" type="text" value="world!" /><br/>
			</p>
			<p>
				<label for="publish-name">Claim Name:</label></br>
				<input id="publish-name" type="text" placeholder="Your claim name" />
			</p>
			<p>
				<button onclick="startPublish()">Save and Publish</button>
			</p>
		</div>
	</div>
	<p class="stop-float">Got a masterpiece? <a href="https://twitter.com/hashtag/LBRYMemeFodder" target="_blank">Share it with the community</a> and see what they think!</p>
</div>