<div class="col-md-12">
	<div class="card" id="publish">
		<div class="card-title card-block grey lighten-1 white-text">
			<h2>/LbryMemeFodder</h2>
		</div>
		<div class="card-block" id="publish-active-area">
			<div class="row">
				<p>Congratulations, you found <i>/LbryMemeFodder</i>. Here's the game...</p>
				<p>(1) <i>/LbryMemeFodder</i> will always use the winning public, free image published to <a href="lbry://meme-fodder">lbry://meme-fodder</a>.  (meaning the most recent, highest bid). Want to put a different image on the chopping block? Go publish it!</p>
				<p>(2) Create a meme based on the current claim with the tool below.  Think you got a winner? <a href="https://twitter.com/hashtag/LbryMemeFodder" target="_blank">Share it with the community</a> and see what they think!</p>
			</div>
			<div class="row">
				<div class="col-md-6">
					<canvas id="meme-canvas">
						If you can see this, canvas is not supported.
					</canvas>
					<img id="start-image" src="/meme-fodder" alt="a picture to make your meme with"/>
				</div>
				<div class="col-md-6" id="publish-active-area">
					<div class="row">
						<div class="col-md-12">
							<label for="top-text">Meme:</label>
							<input id="top-text" type="text" value="Ship it?" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<input id="bottom-text" type="text" value="YAAAAASSSSSSS!" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label for="meme-name">File Name:</label>
							<input id="file-name-input" type="text" value="YourFileName.jpg" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button onclick="startPublish()">Save and Publish</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>