<div class="col-md-12">
	<div class="card" id="publish">
		<div class="card-title card-block grey lighten-1 white-text">
			<h2>Recent Entries</h2>
		</div>
		<div class="card-block" id="publish-active-area">
			<div class="row">
				<div class="col-md-12">
					<p>Below are some of the most recent entries published via /meme-fodder</p>
					(pull all the claims published to 'lbryMemeFodder' and display most recent 20 here)
					(maybe a voting system?  Is there a way to allow people to donate funds to a claimId so that it will show up higher in the results?)
				</div>
			</div>
			<div class="row">
			{{#each claims}}
				<div class="col-md-3">
					<a href="/{{this.name}}/{{this.claim_id}}">
					<img class="all-claims-img" src="/{{this.name}}/{{this.claim_id}}" /></a>
				</div>
				<hr>
			{{/each}}
			</div>
		</div>
	</div>
</div>