<div class="stop-float" id="publish">
	<h2>Recent Meme Fodder</h2>
	<div class="row">
		<p>Below are the free, public images published to <a href="lbry://meme-fodder">lbry://meme-fodder</a>.  Want to put a different image on the chopping block? Go publish it!</p>
	</div>
	<div class="row">
		{{#each claims}}
		<img class="meme-fodder-img" src="/{{this.name}}/{{this.claim_id}}" onclick="newCanvas(this)"/>
		{{/each}}
	</div>
</div>