<p id="bar-holder"></p>

<script src="/assets/js/progressBarConstructor.js"></script>
<script type="text/javascript">
    const progressBar = new ProgressBar();
    progressBar.createProgressBar(10);
    progressBar.startProgressBar();
</script>