<div class="row row--padded">
    <div class="input-error" id="input-error-publish-submit" hidden="true"></div>
    <button id="publish-submit" class="button--primary button--large" onclick="publishStagedFile(event)">Upload</button>
</div>
<div class="row row--short align-content-center">
    <button class="button--cancel" onclick="cancelPublish()">Cancel</button>
</div>
<div class="row row--short align-content-center">
    <p class="publish-fine-print">By clicking 'Upload', you affirm that you have the rights to publish this content to the LBRY network, and that you understand the properties of publishing it to a decentralized, user-controlled network. <a target="_blank" href="https://lbry.io/learn">[Read more]</a></p>
</div>
