<div class="panel">
	<h2>Publish</h2>
	<div class="col-left">
		<div id="drop-zone" ondrop="drop_handler(event);" ondragover="dragover_handler(event);" ondragend="dragend_handler(event)">
			<p>Drag and drop your file here, or choose your file below.</p>
			<div class="input-error" id="input-error-file-selection" hidden="true"></div>
			<input type="file" id="siofu_input" name="file" accept="video/*,image/*" onchange="previewAndStageFile(event.target.files[0])" enctype="multipart/form-data"/>
		</div>
		<div id="asset-preview-holder">
			
		</div>
	</div>
	<div class="col-right">
		<textarea id="direct-link-holder" hidden="true">No URL yet</textarea>
		<div id="publish-active-area">
			<div class="input-error" id="input-error-claim-name" hidden="true"></div>
			<div class="claim-name-input-area">
				Spee.ch/<input type="text" id="claim-name-input" placeholder="your-name-here" class="form-control">
			</div>
			<p class="stop-float">
			<label for="publish-license">License:</label>
			<select type="text" id="publish-license" name="license" value="license">
				<option value="CC Attribution-NonCommercial 4.0 International"><a href="http://creativecommons.org/licenses/by-nc/4.0/">CC Attribution-NonCommercial 4.0 International</a></option>
				<option value="Public Domain">Public Domain</option>
				<option value="Creative Commons">Creative Commons</option>
			</select> 
			<br />
			<input type="checkbox" id="publish-nsfw">
			<label for="publish-nsfw">NSFW</label>
			</p>
			<p>
			<div class="input-error" id="input-error-publish-submit" hidden="true"></div>
			<button id="publish-submit" onclick="publishSelectedImage(event)">Publish</button>
			<a href="/"><button id="publish-reset">Reset</button></a>
			</p>
			<p><i>By clicking 'Publish' I attest that I have read and agree to the <a href="https://lbry.io/termsofservice" target="_blank">LBRY terms of service</a>.</i></p>
		</div>
	</div>
</div>
