<div class="row" id="publish-thumbnail" hidden="true">
    <div class="column column--3 column--sml-10">
        <label class="label">Thumbnail:</label>
    </div><div class="column column--6 column--sml-10">
        <div class="input-text--primary">
            <input type="text" id="claim-thumbnail-input" class="input-text input-text--full-width" placeholder="https://spee.ch/xyz/example.jpg" value="">
        </div>
    </div>

</div>