<div class="row">
    <div class="input-error" id="input-error-publish-submit" hidden="true"></div>
    <button id="publish-submit" class="button--primary button--large" onclick="publishStagedFile(event)">Upload</button>
</div>
<div class="row row--short align-content-center">
    <button class="button--cancel" onclick="cancelPublish()">Cancel</button>
</div>

<script type="text/javascript" >

</script>