<div class="row">
    <div class="column column--10">
        <a class="label" id="publish-details-toggle" href="#" onclick="toggleSection(event)" data-open="false" data-openlabel="[less]" data-closedlabel="[more]" data-slaveelementid="publish-details">[more]</a>
    </div>
</div>

<div id="publish-details" hidden="true">

    <div class="row row--short">
        <div class="column column--3 column--sml-10">
            <label for="publish-license" class="label">License:</label>
        </div><div class="column column--7 column--sml-10">
            <select type="text" id="publish-license" class="select select--primary">
                <option value="Public Domain">Public Domain</option>
                <option value="Creative Commons">Creative Commons</option>
            </select>
        </div>
    </div>

    <div class="row row--short">
        <div class="column column--3 column--sml-10">
            <label for="publish-nsfw" class="label">NSFW:</label>
        </div><div class="column column--7 column--sml-10">
            <input class="input-checkbox" type="checkbox" id="publish-nsfw">
        </div>
    </div>

</div>




