<div id="details-detail" hidden="true">

    <div class="row row--short">
        <div class="column column--3">
            <label for="publish-title" class="label">Title: </label>
        </div>
        <div class="column column--7">
            <input type="text" id="publish-title" class="input-text input-text--primary">
        </div>
    </div>

    <div class="row row--short">
        <div class="column column--3">
            <label for="publish-description" class="label">Description: </label>
        </div>
        <div class="column column--7">
            <textarea rows="2" id="publish-description" class="input-textarea"></textarea>
        </div>
    </div>

    <div class="row row--short">
        <div class="column column--3">
            <label for="publish-license" class="label">License:* </label>
        </div>
        <div class="column column--7">
            <select type="text" id="publish-license" class="select select--primary">
                <option value="Public Domain">Public Domain</option>
                <option value="Creative Commons">Creative Commons</option>
            </select>
        </div>
    </div>

    <div class="row row--short">
        <div class="column column--3">
            <label for="publish-nsfw" class="label">NSFW*</label>
        </div>
        <div class="column column--7">
            <input class="input-checkbox" type="checkbox" id="publish-nsfw">
        </div>
    </div>
</div>

<div class="row">
    <div class="column column--12">
        <a class="label" id="details-toggle" href="#" onclick="toggleSection(event)" data-open="false" data-openlabel="[less]" data-closedlabel="[more]" data-slaveelementid="details-detail">[more]</a>
    </div>
</div>




