<div class="row">
    <div class="column column--3">
        <label class="label">Details:</label>
    </div>
    <div class="column column--9">
        <a class="toggle-link" id="details-toggle" href="#" onclick="toggleSection(event)" data-open="false" data-slaveelementid="details-detail">[open]</a>
    </div>
</div>

<div id="details-detail" hidden="true">

    <div class="row row--thin">
        <div class="column column--3">
            <label for="publish-title" class="label label--secondary">Title: </label>
        </div>
        <div class="column column--9">
            <input type="text" id="publish-title" class="input-text input-text--primary">
        </div>
    </div>

    <div class="row row--thin">
        <div class="column column--3">
            <label for="publish-description" class="label label--secondary">Description: </label>
        </div>
        <div class="column column--9">
            <textarea rows="2" id="publish-description" class="input-textarea"></textarea>
        </div>
    </div>

    <div class="row row--thin">
        <div class="column column--3">
            <label for="publish-license" class="label label--secondary">License:* </label>
        </div>
        <div class="column column--9">
            <select type="text" id="publish-license" class="select select--primary">
                <option value="Public Domain">Public Domain</option>
                <option value="Creative Commons">Creative Commons</option>
            </select>
        </div>
    </div>

    <div class="row row--thin">
        <div class="column column--3">
            <label for="publish-nsfw" class="label label--secondary">NSFW*</label>
        </div>
        <div class="column column--9">
            <input class="input-checkbox" type="checkbox" id="publish-nsfw">
        </div>
    </div>


</div>




