<div class="row">
    <div class="column column--3">
        <label class="label">URL:</label>
    </div>
    <div class="column column--9">
        <div id="input-error-claim-name" class="info-message info-message--failure"  hidden="true"></div>
        <div class="input-text--primary">
            <span class="url-text">Spee.ch/</span><span id="url-channel" class="url-text">{{#if user.channelName}}{{user.channelName}}/{{/if}}</span><input type="text" id="claim-name-input" class="input-text" placeholder="your-url-here" oninput="checkClaimName(event.target.value)">
            <span id="input-success-claim-name" class="info-message info-message--success"></span>
        </div>

    </div>
</div>