<div class="panel">
	<h2>Publish</h2>
	<div class="row" style="overflow:auto; height: 100%;">
		<div class="col-left" id="file-selection-area">
			<div id="drop-zone" ondrop="drop_handler(event);" ondragover="dragover_handler(event);" ondragend="dragend_handler(event)">
				<p>Drag and drop your file here, or choose your file below.</p>
                <span class="info-message info-message--failure" id="input-error-file-selection" hidden="true"></span><br/>
				<input type="file" id="siofu_input" name="file" accept="video/*,image/*" onchange="previewAndStageFile(event.target.files[0])" enctype="multipart/form-data"/>
			</div>
			<div id="asset-preview-holder"></div>
		</div>
		<div class="col-right">
			<div id="publish-active-area">
				<div class="stop-float">
					<p>
                        <div id="input-error-claim-name" class="info-message info-message--failure"  hidden="true"></div>
                        Spee.ch/
                        <input type="text" id="claim-name-input" class="input-text input-text--primary" placeholder="your-url-here" oninput="checkClaimName(event.target.value)">
                        <span id="input-success-claim-name" class="info-message info-message--success"></span>
                    </p>
				</div>
                <div class="stop-float">
                    {{> publishChannel}}
                </div>
				<div class="stop-float">
                    {{> publishDetails}}
				</div>
				<p>
                    <div class="input-error" id="input-error-publish-submit" hidden="true"></div>
                    <button id="publish-submit" onclick="publishSelectedImage(event)">Publish</button>
                    <button onclick="resetPublishArea()">Reset</button>
				</p>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" >
	function resetPublishArea (){
		// reset file selection area
		document.getElementById('file-selection-area').innerHTML = `<div id="drop-zone" ondrop="drop_handler(event);" ondragover="dragover_handler(event);" ondragend="dragend_handler(event)">
			<p>Drag and drop your file here, or choose your file below.</p>
			<div class="input-error" id="input-error-file-selection" hidden="true"></div>
			<input type="file" id="siofu_input" name="file" accept="video/*,image/*" onchange="previewAndStageFile(event.target.files[0])" enctype="multipart/form-data"/>
		</div>
		<div id="asset-preview-holder"></div>`;
		// reset inputs
		document.getElementById('claim-name-input').value = '';
		document.getElementById('publish-title').value = '';
		document.getElementById('publish-description').value = '';
		document.getElementById('publish-nsfw').checked = false;
		// remove staged files
		stagedFiles = null;
		// clear any errors
		document.getElementById('input-error-file-selection').innerHTML = '';
		document.getElementById('input-error-claim-name').innerHTML = '';
		document.getElementById('input-error-publish-submit').innerHTML = '';
		document.getElementById('input-success-claim-name').hidden = true;
	}
</script>
