<div class="row">

    <div class="column column--1 column--sml-10">
        <label class="label">URL:</label>
    </div><div class="column column--9 column--sml-10">
        <div class="info-message-placeholder">
            <div id="input-error-claim-name" class="info-message info-message--failure"  hidden="true"></div>
        </div>
        <div class="input-text--primary">
            <span class="url-text url-text--secondary">Spee.ch /</span>
            <span id="url-channel" class="url-text url-text--secondary" {{#if user}}{{else}}hidden="true"{{/if}}>{{user.channelName}}:{{user.shortChannelId}}</span>
            <span id="url-no-channel-placeholder" class="url-text url-text--secondary tooltip" {{#if user}}hidden="true"{{else}}{{/if}}>xyz<span class="tooltip-text">This will be a random id</span></span>
            <span id="url-channel-placeholder" class="url-text url-text--secondary tooltip" hidden="true">@channel<span class="tooltip-text">Select a channel above</span></span>
            /
            <input type="text" id="claim-name-input" class="input-text" placeholder="your-url-here" oninput="checkClaimName(event.target.value)">
            <span id="input-success-claim-name" class="info-message info-message--success"></span>
        </div>
    </div>

</div>