<div class="row row--padded row--wide">
    <div class="input-error" id="input-error-publish-submit" hidden="true"></div>
    <button id="publish-submit" class="button--primary button--large" onclick="publishFileFunctions.publishStagedFile(event)">Upload</button>
</div>
<div class="row row--short align-content-center">
    <button class="button--cancel" onclick="publishFileFunctions.redirectUserHome()">Cancel</button>
</div>
<div class="row row--short align-content-center">
    <p class="fine-print">By clicking 'Upload', you affirm that you have the rights to publish this content to the LBRY network, and that you understand the properties of publishing it to a decentralized, user-controlled network. <a class="link--primary" target="_blank" href="https://lbry.io/learn">Read more.</a></p>
</div>
