<div id="new-release-banner" style="font-size: small; background-color: dodgerblue; color: white; text-align: center; display: block">
    Hi there!  You've stumbled upon the new version of spee&#60;h, launching soon!  Send us your feedback in <a style="color:white; text-decoration: underline" target="_blank" href="https://slack.lbry.io/">our slack</a>
</div>