<div class="row">
	<div class="col-md-12">
		<div class="card card-block default-color-dark white-text">
			<div class="card-title">
				<h1><a class="white-text" href="https://spee.ch">Spee.ch</a></h1>
			</div>
				<p>Spee.ch is a single-serving site that reads and publishes images to and from the <a class="white-text" href="https://lbry.io">LBRY</a> blockchain.</p>
		</div>
	</div>
</div>