<div class="top-bar">
	<a href="https://en.wikipedia.org/wiki/Freedom_of_information" target="_blank"><img id="logo" src="/assets/img/content-freedom-64px.png"/></a>
	<h1 id="title"><a href="/">Spee.ch</a></h1><span class="top-bar-left">(beta)</span>
	<a href="/popular" class="top-bar-right">popular</a>
	<a href="https://github.com/lbryio/spee.ch" target="_blank" class="top-bar-right">source</a>
	<a href="/about" class="top-bar-right">help</a>
	<div class="top-bar-tagline">Open-source, decentralized image and video hosting.</div>
</div>