.DS_Store
*.log
.idea/

node_modules

client/build

client_custom/build

devConfig/sequelizeCliConfig.js
devConfig/testingConfig.js

config/mysqlConfig.json
config/siteConfig.json

public/bundle/bundle.js
public/bundle/bundle.js.map

