.DS_Store
*.log
.idea/

node_modules

client/build

site/

devConfig/sequelizeCliConfig.js
devConfig/testingConfig.js

server/bundle

public/bundle/bundle.js
public/bundle/bundle.js.map
public/bundle/Lekton-*
public/bundle/style.css

uploads

config/

deployment-config.json
