node_modules/
.idea/
config/lbryConfig.js
config/loggerConfig.js
config/mysqlConfig.js
config/siteConfig.js
config/slackConfig.js
devConfig/slackConfig.js
devConfig/sequelizeCliConfig.js
devConfig/testingConfig.js
