<!DOCTYPE html>
<html>
<body>

<style type="text/css">
video {  
   width:100%; 
   max-width:600px; 
   height:auto; 
}
</style>

<video width="100%" controls src="https://spee.ch/{{claimId}}/{{name}}.mp4" type="video/mp4"></video>

</body>
</html>