<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Spee.ch</title>
    <link rel="stylesheet" href="/assets/css/reset.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/general.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/mediaQueries.css" type="text/css">
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@lbryio" />
	<meta property="og:title" content="spee.ch">
	<meta property="og:site_name" content="spee.ch">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://spee.ch/assets/img/content-freedom-64px.png">
	<meta property="og:url" content="http://spee.ch/">
	<meta property="og:description" content="Open-source, decentralized image and video hosting.">
	<!-- google analytics -->
	{{ googleAnalytics }}
</head>
<body>
    <script src="/assets/js/generalFunctions.js"></script>
    <script src="/assets/js/validationFunctions.js"></script>
    <script src="/assets/js/publishFileFunctions.js"></script>
    <script src="/assets/js/authFunctions.js"></script>
    <script src="/assets/js/loginFunctions.js"></script>
    <script src="/assets/js/navBarFunctions.js"></script>
    {{{ body }}}
</body>
</html>