<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Spee.ch</title>
	<link rel="stylesheet" href="/assets/css/generalStyle.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/componentStyle.css" type="text/css">
	<meta property="og:title" content="spee.ch">
	<meta property="og:site_name" content="spee.ch">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://spee.ch/assets/img/content-freedom-64px.png">
	<meta property="og:url" content="http://spee.ch/">
	<meta property="og:description" content="Open-source, decentralized image and video hosting.">
</head>
<body>
	{{{ body }}}
	<!-- google analytics -->
	{{ googleAnalytics }}
</body>
</html>