<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Spee.ch</title>
	<link rel="stylesheet" href="/assets/css/allStyle.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/componentStyle.css" type="text/css">
</head>
<body>
	<script src="/assets/js/generalFunctions.js"></script>
	{{{ body }}}
	<!-- google analytics -->
	{{ googleAnalytics }}
</body>
</html>