<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    {{ placeCommonHeaderTags }}
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@spee_ch" />
	<meta property="og:title" content="Spee.ch" />
	<meta property="og:site_name" content="Spee.ch" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="https://spee.ch/assets/img/Speech_Logo_Main@OG-02.jpg" />
	<meta property="og:url" content="http://spee.ch/" />
	<meta property="og:description" content="Open-source, decentralized image and video sharing." />
    <!--google font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<!-- google analytics -->
	{{ googleAnalytics }}
</head>
<body id="main-body">
    <script src="/assets/js/generalFunctions.js"></script>
    <script src="/assets/js/validationFunctions.js"></script>
    {{{ body }}}
</body>
</html>
