<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Spee.ch</title>
	<link rel="stylesheet" href="/assets/css/generalStyle.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/componentStyle.css" type="text/css">
	<meta property="fb:app_id" content="1371961932852223">
	{{{addTwitterCard openGraphInfo.type openGraphInfo.source}}}
	{{{addOpenGraph fileInfo.name openGraphInfo.showUrl openGraphInfo.source fileInfo.fileType }}}
</head>
<body>
	{{{ body }}}
	<!-- google analytics -->
	{{ googleAnalytics }}
</body>
</html>

<script>

</script>