<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Spee.ch</title>
	<link rel="stylesheet" href="/assets/css/generalStyle.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/componentStyle.css" type="text/css">
	<!-- twitter card -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@spee.ch">
	<meta name="twitter:creator" content="@spee.ch">
	<meta name="twitter:title" content="{{fileInfo.name}}">
	<meta name="twitter:description" content="An image hosted via Spee.ch">
	<meta name="twitter:image" content="https://spee.ch/media/{{fileInfo.fileName}}">
</head>
<body>
	{{{ body }}}
	<!-- google analytics -->
	{{ googleAnalytics }}
</body>
</html>