<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Spee.ch</title>
	<link rel="stylesheet" href="/assets/css/generalStyle.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/componentStyle.css" type="text/css">
	<meta property="fb:app_id" content="1371961932852223">
	{{#unless fileInfo.nsfw}}
	{{{addTwitterCard fileInfo.fileType openGraphInfo.source openGraphInfo.embedUrl openGraphInfo.directFileUrl}}}
	{{{addOpenGraph fileInfo.title fileInfo.fileType openGraphInfo.showUrl openGraphInfo.source fileInfo.description}}}
	{{/unless}}
	<!-- google analytics -->
	{{ googleAnalytics }}
		<!-- Description Scroll -->
	<script language="javascript">
window.onload = function() {
  scrollDiv_init();
};
ScrollRate = 50;
function scrollDiv_init() {
  DivElmnt = document.getElementById('scroll');
  DivElmnt.onmouseover = pauseDiv;
  DivElmnt.onmouseout = resumeDiv;
  ReachedMaxScroll = false;
  DivElmnt.scrollTop = 0;
  PreviousScrollTop  = 0;
  ScrollInterval = setInterval('scrollDiv()', ScrollRate);
}
function scrollDiv() {
  if (!ReachedMaxScroll) {
    DivElmnt.scrollTop = PreviousScrollTop;
    PreviousScrollTop++;
    ReachedMaxScroll = DivElmnt.scrollTop >= (DivElmnt.scrollHeight - DivElmnt.offsetHeight);
  }
  else {
    window.setTimeout(scroll,7000);
    function scroll() {
    DivElmnt.scrollTop = PreviousScrollTop = 0;
    ReachedMaxScroll = false;
    }

  }
}
function pauseDiv() {
  clearInterval(ScrollInterval);
}
function resumeDiv() {
  PreviousScrollTop = DivElmnt.scrollTop;
  ScrollInterval = setInterval('scrollDiv()', ScrollRate);
}
</script>
</head>
<body>
	{{{ body }}}
</body>
</html>

<script>

</script>
