.asset-preview-image {
  width  : 100%;
  padding: 0px;
  margin : 0px
}

.asset-preview-video {
  cursor: pointer;
  background-color: #ffffff;
  width: calc(100% - 12px - 12px - 2px);
}

h3.list-title {
  margin: 0;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1em;
  max-height: 2em;
}
