textarea {
  margin: 0;
  outline: none;
  padding: $input-padding;
  border: 0;
  border-bottom: 1px solid $secondary-color;
  background-color: $background-color;
  display: inline-block;
  width: $input-full-width;
}
