<div class="row">
    <div class="row">
        <div class="column column--5 column--med-10 align-content-top">
            <div class="row">
                <span class="pull-quote">Spee.ch is an open-source project.  Please contribute to the existing site, or fork it and make your own.</span>
            </div>
            <div class="row">
                <p>
                    <a target="_blank" href="https://github.com/lbryio/spee.ch">GITHUB</a>
                </p>
                <p>
                    <a target="_blank" href="https://discord.gg/YjYbwhS">DISCORD CHANNEL</a>
                </p>
                <p>
                    <a target="_blank" href="https://github.com/lbryio/spee.ch/blob/master/README.md">DOCUMENTATION</a>
                </p>
            </div>
        </div><div class="column column--5 column--med-10 align-content-top">
            <div class="row row--short">
                <p>Spee.ch is a media-hosting site that reads and publishes content from the <a class="white-text" href="https://lbry.io">LBRY</a> blockchain.</p>
                <p>Spee.ch is a hosting service, but with the added benefit that it stores your content on a decentralized network of computers -- the LBRY network.  This means that your images are stored in multiple locations without a single point of failure.</p>
                <h3>Contribute</h3>
                <p>If you have an idea for your own spee.ch-like site on top of LBRY, fork our <a href="https://github.com/lbryio/spee.ch">github repo</a> and go to town!</p>
                <p>If you want to improve spee.ch, join our <a href="https://lbry.slack.com">slack channel</a> or solve one of our <a href="https://github.com/lbryio/spee.ch/issues">github issues</a>.</p>
            </div>
        </div>
    </div>
</div>
