<div class="row row--full-height">
    <div class="column column--5 column--med-10 align-content-top">
        <div class="row row--short">
            <span class="pull-quote">Open-source, decentralized image and video hosting</span>
        </div>
        <div class="row">
            <p>
                <a href="#">GITHUB</a>
            </p>
            <p>
                <a href="#">SLACK CHANNEL</a>
            </p>
            <p>
                <a href="#">DOCUMENTATION</a>
            </p>
        </div>
    </div><div class="column column--5 column--med-10 align-content-top">
    <div class="row row--short">
        <p>Spee.ch is a media-hosting site that reads and publishes content from the <a class="white-text" href="https://lbry.io">LBRY</a> blockchain.</p>
        <p>Spee.ch is a hosting service, but with the added benefit that it stores your content on a decentralized network of computers -- the LBRY network.  This means that your images are stored in multiple locations without a single point of failure.</p>
        <h3>[Contribute]</h3>
        <p>Spee.ch is an open source project. Please contribute to the existing site, or fork it and make your own!</p>
        <p>If you have an idea for your own spee.ch-like site on top of LBRY, fork our <a href="https://github.com/lbryio/spee.ch">github repo</a> and go to town!</p>
        <p>If you want to improve spee.ch, join our <a href="https://lbry.slack.com">slack channel</a> or solve one of our <a href="https://github.com/lbryio/spee.ch/issues">github issues</a>.</p>
    </div>
</div>
</div>