<div class="wrapper">
	{{> topBar}}
	<div class="main"> 
		<h2>About Spee.ch</h2>
		<p>Spee.ch is a single-serving site that reads and publishes images to and from the <a class="white-text" href="https://lbry.io">LBRY</a> blockchain.</p>
		<p>Spee.ch is an image hosting service, but with the added benefit that it stores your images on a decentralized network of computers -- the LBRY network.  This means that your images are stored in multiple locations without a single point of failure.</p>
		{{> examples}}
		{{> documentation}}
		{{> bugs}}
	</div>
	<div class="sidebar">
		{{> contribute}}
	</div>
	{{> footer}}
</div>

