{{> topBar}}
<div>
    <h3>{{this.channelName}}<span class="h3--secondary">:{{this.longChannelId}}</span></h3>
    <p>Below is all the free content in this channel.</p>
    {{#each this.claims}}
      {{> contentListItem}}
    {{/each}}
</div>
