<div class="wrapper">
	{{> topBar}}
	<div>
		<h3>{{this.channelName}}</h3>
		<p>Below is all the free content in this channel.</p>
		{{#each channelContents}}
          {{> contentListItem}}
		{{/each}}
	</div>
	{{> footer}}
</div>
