<div class="wrapper">
	{{> topBar}}
	<div>
		<h3>{{this.channelName}}</h3>
		<p>Below are all the free claims in this channel.</p>
		{{#each channelContents}}
	{{> contentListItem}}
		{{/each}}
	</div>
	{{> footer}}
</div>
