<div class="container">
	{{> topBar}}
	<div class="row">
		{{> publish}}
	</div>
	<div class="row">
		{{> examples}}
	</div>
	<div class="row">
		{{> documentation}}
	</div>
	<div class="row">
		{{> contribute}}
	</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/siofu/client.js"></script>

<script src="/assets/js/claimPublish.js"></script>
