<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-block default-color-dark white-text">
				<div class="card-title">
					<h1>Spee.ch</h1>
				</div>
					<p>Spee.ch is a single-serving site that reads and publishes images to and from the <a class="white-text" href="https://lbry.io">LBRY</a> blockchain.</p>
			</div>
		</div>
	</div>
	<div class="row">
		{{> examples}}
		{{> publish}}
	</div>
	<div class="row">
		{{> documentation}}
	</div>
	<div class="row">
		{{> contribute}}
		{{> bugs}}
	</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/siofu/client.js"></script>
<script>
	// define variables
	var socket = io();
	var uploader = new SocketIOFileUpload(socket);
	var stagedFile = null;

	/* helper functions */
	// create a progress animation
	function createProgressBar(element, size){ 
		var x = 1;
		var adder = 1;
		function addOne(){
			var bars = '<p>|';
			for (var i = 0; i < x; i++){ bars += ' | '; }
			bars += '</p>';
			element.innerHTML = bars;
			if (x === size){
				adder = -1;
			} else if ( x === 0){
				adder = 1;
			}
			x += adder;
		};
		setInterval(addOne, 300);
	}
	// preview file and stage the image for upload
	function previewAndStageFile(selectedFile){ 
		var preview = document.getElementById('image-preview');
		var dropzone = document.getElementById('drop-zone');
		var previewReader = new FileReader();

		preview.style.display = 'block';
		dropzone.style.display = 'none';
		
		previewReader.onloadend = function () {
			preview.src = previewReader.result;
		};

		if (selectedFile) {
			previewReader.readAsDataURL(selectedFile); // reads the data and sets the img src
			document.getElementById('publish-name').value = selectedFile.name.substring(0, selectedFile.name.indexOf('.')); // updates metadata inputs
			stagedFile = [selectedFile]; // stores the selected file for upload
		} else {
			preview.src = '';
		}
	}
	// update the publish status
	function updatePublishStatus(msg){
		document.getElementById('publish-status').innerHTML = msg;
	}
	// process the drop-zone drop
	function drop_handler(ev) {
		console.log("drop");
		ev.preventDefault();
		// if dropped items aren't files, reject them
		var dt = ev.dataTransfer;
		if (dt.items) {
			if (dt.items[0].kind == 'file') {
				var droppedFile = dt.items[0].getAsFile();
				previewAndStageFile(droppedFile);
			} else {
				console.log("no files were found")
			}
		} else {
			console.log("no items were found")
		}
	}
	// prevent the browser's default drag behavior
	function dragover_handler(ev) {
		ev.preventDefault();
	}
	// remove all of the drag data
	function dragend_handler(ev) {
		var dt = ev.dataTransfer;
		if (dt.items) {
			for (var i = 0; i < dt.items.length; i++) {
				dt.items.remove(i);
			}
		} else {
			ev.dataTransfer.clearData();
		}
	}

	/* configure the submit button */
	document.getElementById('publish-submit').addEventListener('click', function(event){
		event.preventDefault();
		if (stagedFile) {
			uploader.submitFiles(stagedFile);
		};
	})
	
	/* socketio-file-upload listeners */
	uploader.addEventListener('start', function(event){
		var name = document.getElementById('publish-name').value;
		var license = document.getElementById('publish-license').value;
		var nsfw = document.getElementById('publish-nsfw').value;
		event.file.meta.name = name;
		event.file.meta.license = license;
		event.file.meta.nsfw = nsfw;
		// re-set the html in the publish area
		document.getElementById('publish-active-area').innerHTML = '<div id="publish-status"></div><div id="progress-bar"></div>';
		// start a progress animation
		createProgressBar(document.getElementById('progress-bar'), 12);
	});
	uploader.addEventListener('progress', function(event){
		var percent = event.bytesLoaded / event.file.size * 100;
		updatePublishStatus('File is ' + percent.toFixed(2) + '% loaded to the server');
	});

	/* socket.io message listeners */
	socket.on('publish-status', function(msg){
		updatePublishStatus(msg);
	});
	socket.on('publish-failure', function(msg){
		document.getElementById('publish-active-area').innerHTML = '<p>' + JSON.stringify(msg) + '</p><p> --(✖╭╮✖)→ </p>';
	});
	socket.on('publish-complete', function(msg){
		var publishResults = '<p>Your publish is complete!</p>';
		publishResults += '<p>Your Claim ID is: ' + msg.result.claim_id + '</p>';
		publishResults += '<p>Your Transaction ID is: <a href="https://explorer.lbry.io/#!/transaction?id=' + msg.result.txid + '">' + msg.result.txid + '</a></p>';
		publishResults += '<p>Here is a link to the claim where your asset was published: <a href="https://spee.ch/' + msg.name + '">spee.ch/' + msg.name + '</a></p>';
		publishResults += '<p>Here is a direct link to your asset: <a href="https://spee.ch/' + msg.name + '/' + msg.result.claim_id + '">spee.ch/' + msg.name + '/' + msg.result.claim_id + '</a></p>';
		publishResults += '<p><i>NOTE: the transaction still needs to be mined by the network before you can access it! This may take a few minutes. To to view the transaction on the blockchain explorer click the Transaction ID link above.</i></p>';
		publishResults += '<p><a href="/">Reload to publish another asset</a></p>';
		document.getElementById('publish-active-area').innerHTML = publishResults; 
	});
</script>
