<div id="react-nav-bar"></div>
<div class="row row--tall flex-container--column">
    <div id="react-publish-tool" class="row row--padded row--tall flex-container--column">
        <div class="row row--padded row--tall flex-container--column flex-container--center-center">
            <p>loading...</p>
            {{> progressBar}}
        </div>
    </div>
</div>

<script src="/bundle/bundle.js"></script>
