<div class="row row--tall flex-container--column">
    <form>
        <input class="input-file" type="file" id="file_input" name="file_input" accept="video/*,image/*" onchange="publishFileFunctions.previewAndStageFile(event.target.files[0])" enctype="multipart/form-data"/>
    </form>
    <div id="primary-dropzone" class="dropzone row row--margined row--padded row--tall flex-container--column flex-container--center-center" ondrop="drop_handler(event);" ondragover="dragover_handler(event);" ondragend="dragend_handler(event)" ondragenter="dragenter_handler(event)" ondragleave="dragexit_handler(event)" onclick="publishFileFunctions.triggerFileChooser('file_input', event)">
        <div id="primary-dropzone-instructions">
            <p class="info-message-placeholder info-message--failure" id="input-error-file-selection" hidden="true"></p>
            <p>Drag & drop image or video here to publish</p>
            <p class="fine-print">OR</p>
            <p class="blue--underlined">CHOOSE FILE</p>
        </div>
        <div id="dropbzone-dragover" class="hidden">
            <p class="blue">Drop it.</p>
        </div>
    </div>
    <div id="publish-form" class="hidden">
        <div class="row row--padded row--no-bottom">
            <div class="column column--10">
                <!-- title input -->
                <input type="text" id="publish-title" class="input-text text--large input-text--full-width" placeholder="Give your post a title...">
            </div>
            <div class="column column--5 column--sml-10" >
                <!-- preview -->
                <div class="row row--padded">
                    <div id="asset-preview-holder" class="dropzone" ondrop="drop_handler(event);" ondragover="dragover_handler(event);" ondragend="dragend_handler(event)"  ondragenter="preview_onmouseenter_handler()" ondragleave="preview_onmouseleave_handler()" onmouseenter="preview_onmouseenter_handler()" onmouseleave="preview_onmouseleave_handler()" onclick="publishFileFunctions.triggerFileChooser('file_input', event)">
                        <div id="asset-preview-dropzone-instructions" class="hidden">
                            <p>Drag & drop image or video here</p>
                            <p class="fine-print">OR</p>
                            <p class="blue--underlined">CHOOSE FILE</p>
                        </div>
                        <div id="asset-preview-target"></div>
                    </div>
                </div>
            </div><div class="column column--5 column--sml-10 align-content-top">
                <div id="publish-active-area" class="row row--padded">
                    {{> publishForm-Channel}}
                    {{> publishForm-Url}}
                    {{> publishForm-Thumbnail}}
                    {{> publishForm-Details}}
                    {{> publishForm-Submit}}
                </div>
            </div>
        </div>
    </div>
    <div id="publish-status" class="hidden">
        <div class="row row--margined">
            <div id="publish-update" class="row align-content-center"></div>
            <div id="publish-progress-bar" class="row align-content-center"></div>
            <div id="upload-percent" class="row align-content-center"></div>
        </div>
    </div>
</div>
