<div class="row row--tall flex-container--column">
    <div id="react-uploader" class="row row--padded row--tall flex-container--column">
        <div class="row row--padded row--tall flex-container--column flex-container--center-center">
            <img src="/assets/img/loading.gif" alt="loading">
        </div>
    </div>
</div>

<script src="/bundle/bundle.js"></script>
