<div class="wrapper">
	{{> topBar}}
	<div class="full"> 
		{{> publish}}
		{{> learnMore}}
	</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/siofu/client.js"></script>

<script src="/assets/js/claimPublish.js"></script>
