<div class="row row--full-height">
    <div class="row row--wide">
        <p>Channels allow you to publish and group content under an identity. You can create a channel for yourself, or share one with like-minded friends.  You can create 1 channel, or 100, so whether you're documenting <a target="_blank" href="/@hikingchris45:5">a hike around town</a>, or making a public repository for <a target="_blank" href="/@catGifs:0">cat gifs</a> (password: '1234'), try creating a channel for it!</p>
    </div>
    <div class="row row--wide">
        <div class="column column--5 column--med-10 align-content-top">
            <p>Log in to an existing channel:</p>
            {{>channelLoginForm}}
        </div><div class="column column--5 column--med-10 align-content-top">
            <p>Create a brand new channel:</p>
            {{>channelCreationForm}}
        </div>
    </div>
</div>

