{{> topBar}}

<div class="row row--full-height">
    <div class="column column--5 align-content-top">
        <p>Log in to an existing channel:</p>
        {{>channelLoginForm}}
    </div><div class="column column--5 align-content-top">
        <p>Create a brand new channel:</p>
        {{>channelCreationForm}}
    </div>
</div>

<script src="/assets/js/generalFunctions.js"></script>
<script src="/assets/js/validationFunctions.js"></script>
<script src="/assets/js/authFunctions.js"></script>