<div class="container">
	{{> topBar}}
	{{ image }}
	<div class="row">
		{{> memeMaker}}
	</div>
	<div class="row">
		{{> memeResults}}
	</div>
</div>

<script src="/assets/js/memeDraw.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/siofu/client.js"></script>

<script src="/assets/js/memePublish.js"></script>
