<div class="wrapper">
	<div class="top-bar">
		{{> topBar}}
	</div>
	<div class="main"> 
		{{> memeFodderMaker}}
		{{> memeFodderResults}}
	</div>
	<div class="sidebar">
		<p>Spee.ch is a single-serving site that reads and publishes images to and from the <a class="white-text" href="https://lbry.io">LBRY</a> blockchain.</p>
		{{> contribute}}
	</div>
	<div class="footer">
		{{> footer}}
	</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/siofu/client.js"></script>

<script src="/assets/js/memeDraw.js"></script>
<script src="/assets/js/memePublish.js"></script>