<div class="container">
	{{> topBar}}
	<div class="row">
		{{> memeFodderMaker}}
	</div>
	<div class="row">
		{{> memeFodderResults}}
	</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/siofu/client.js"></script>

<script src="/assets/js/memeDraw.js"></script>
<script src="/assets/js/memePublish.js"></script>