<div class="wrapper">
	{{> topBar}}
	<div class="full"> 
		{{> memeFodderMaker}}
		{{> memeFodderResults}}
	</div>
	{{> footer}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/siofu/client.js"></script>

<script src="/assets/js/generalFunctions.js"></script>
<script src="/assets/js/memeFodder-draw.js"></script>
<script src="/assets/js/memeFodder-publish.js"></script>