<div class="row">
    <h3>No Channel</h3>
    <p>There are no published channels matching your url</p>
    <p>If you think this message is an error, contact us in the <a href="https://lbry.slack.com/" target="_blank">LBRY slack!</a></p>
</div>
