	{{> navBar}}
	<div>
		<h3>No Claims</h3>
		<p>There are no free assets on this channel.</p>
		<p><i>If you think this message is an error, contact us in the <a href="https://lbry.slack.com/" target="_blank">LBRY slack!</a></i></p>
	</div>
