<div class="row row--padded">
    <h3>No Channel</h3>
    <p>There are no published channels matching your url</p>
    <p>If you think this message is an error, contact us in the <a class="link--primary" href="https://discord.gg/YjYbwhS" target="_blank">LBRY Discord!</a></p>
</div>
