<div class="row row--padded">
    <h3>Error</h3>
    <p>Unfortnately, Spee.ch encountered an error.  You can help us out, by reporting the below error message in the #speech channel on <a class="link--primary" href="https://discord.gg/YjYbwhS" target="_blank">LBRY Discord</a>!</p>
    <p>status: {{status}}</p>
    <p>message: {{message}}</p>
</div>
