<div class="row row--tall row--padded">
    <div class="column column--10">
        <!-- title -->
        <span class="text--large">{{fileInfo.title}}</span>
    </div>
    <div class="column column--5 column--sml-10 align-content-top">
        <!-- asset -->
        <div class="row row--padded">
            {{> asset}}
        </div>
    </div><div class="column column--5 column--sml-10 align-content-top">
        <!-- details -->
        <div class="row row--padded">
            {{> assetInfo}}
        </div>
    </div>
</div>