<div class="wrapper">
	{{> topBar}}
	<div class="main"> 
		{{> asset}}
	</div>
	<div class="sidebar">
		{{> assetLinks}}
		{{> assetMetadata}}
	</div>
	{{> footer}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/siofu/client.js"></script>