
	{{> topBar}}
    <div class="row">
        <div class="column column--6 align-content-top">
            {{> asset}}
        </div><div class="column column--4 align-content-top">
            <div class="row row--short">
                {{> assetInfo}}
            </div>
        </div>
    </div>