
	{{> topBar}}
    <div class="row">
        <div class="column column--5 align-content-top">
            {{> asset}}
        </div><div class="column column--1">
        </div><div class="column column--4 align-content-top">
            {{> assetInfo}}
        </div>
    </div>