.nav-bar {
  padding-left: $primary-padding;
  padding-right: $primary-padding;
  // border-bottom: 0.5px solid $tertiary-color;
  .select--arrow {
    padding: 0 1.5em 0 $input-padding;
    font-size: 14px;
  }
}

.nav-bar-link {
  padding: calc(1em - 2px);
  display: inline-block;
  font-size: 14px;
}

.nav-bar-logo {
  cursor: pointer;
}

@media (max-width: $break-point-medium ) {
  .nav-bar-link {
    padding-top: calc(1em - 2px);
    padding-right: 1em;
    padding-bottom: calc(1em - 2px);
    padding-left: 1em;
  }
}

@media (max-width: $break-point-small ) {
  .nav-bar-link {
    padding-top: calc(0.5em - 2px);
    padding-right: 0.5em;
    padding-bottom: calc(0.5em - 2px);
    padding-left: 0.5em;
  }
}
