.nav-bar {
  margin-top: $thin-padding;
  margin-left: $primary-padding;
  margin-right: $primary-padding;
  
  @media (max-width: $break-point-mobile) {
    margin-left: 15px;
    margin-right: 15px;
  }

  .select--arrow {
    padding: 0 1.5em 0 $input-padding;
    font-size: 14px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }
}

.nav-bar-link {
  padding: calc(1em - 2px);
  display: inline-block;
  font-size: $text-medium;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.nav-bar-logo {
  cursor: pointer;
}

@media (max-width: $break-point-tablet ) {
  .nav-bar-link {
    padding-top: calc(1em - 2px);
    padding-right: 1em;
    padding-bottom: calc(1em - 2px);
    padding-left: 1em;
  }
  
}

@media (max-width: $break-point-mobile ) {
  .nav-bar-link {
    padding-top: calc(0.5em - 2px);
    padding-right: 0.5em;
    padding-bottom: calc(0.5em - 2px);
    padding-left: 0.5em;
  }
}


