.publish-url-input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
  border-bottom: solid 1px grey;
  .shrink {
    flex: 0 1 auto;
  };
  .fill {
    flex: 1 0 auto;
  };
}
