.row {
  padding-bottom: 2em;
}

.row-labeled {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.row-labeled-label {
  align-self: flex-start;
  width: 30%;
}
.row-labeled-content {
  align-self: center;
  width: 70%;
}

.row-labeled-alt {
  display: column;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

  .row-labeled-label {
    align-self: flex-start;
    width: 100%;
    color: $grey;
    font-size: 12px;
  }

  .row-labeled-content {
    align-self: center;
    width: 100%;
  }
}


@media (max-width: $break-point-medium ) {

  .row-labeled {
    flex-direction: column;
  }

  .row-labeled-label {
    width: 100%;
  }
  .row-labeled-content {
    width: 100%;
  }

}
