.row {
  margin-bottom: 1.2em;
}

.row-labeled {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.row-labeled-label {
  width: 30%;
  display: flex;
  align-items: center;
  flex: 1;
  //bad, fix this
  .label { padding-top: 0; padding-bottom: 0; }
}
.row-labeled-content {
  align-self: center;
  width: 70%;
}

@media (max-width: $break-point-tablet ) {
  .row-labeled {
    flex-direction: column;
  }
  .row-labeled-label {
    width: 100%;
  }
  .row-labeled-content {
    width: 100%;
  }
}