.channel-claims-display {
  display: grid;
  grid-gap: 16px;

  .button--secondary {
    margin-right: $secondary-padding;
  }
}

@media (min-width: 1040px) {
  .channel-claims-display {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1039px) {
  .channel-claims-display {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .channel-claims-display {
    grid-template-columns: 1fr;
  }
}
