.click-to-copy {
  cursor: pointer;
  border: none;
  padding: 0.5em;
  margin: 0;
  color: black;
  background-color: white;
  width: calc(100% - 1em - 2px);
  font-size: 14px;
  color: #2E2F31;
  letter-spacing: -0.6px;
  line-height: 20px;

}
