
/* top bar */
#logo, #title {
	float: left;
}

#logo {

}

#title {

}

/* publish */




/* show routes */
.show-asset {
	width: 100%;
	margin-bottom: 1em;
	margin-top: 1em;
}

.show-asset-lite {
	margin: 0px;
}

.panel.links {
	font-size: small;
}

input.link {
	width: 80%;
}

button.copy-button {
	padding: 4px;
	float: right;
}

.share-option {
	margin-bottom: 1em;
}

.metadata-table {
	font-size: small;
	border-collapse: collapse;
	margin-bottom: 1em;
}

.metadata-row {
	border-bottom: 1px solid lightgrey;
	margin: 2px;
}

.left-column {
	width: 30%;
	font-weight: bold;
	vertical-align: top;
}

/* trending claims */
.grid-item { 
	width: 23%; 
	margin: 0px 1% 20px 1%;
}

/* learn more */
.learn-more {
	text-align: center;
	border-top: 1px solid lightgrey;
}

/* examples */
.example {
	clear: both;
	width: 100%;
	margin-bottom: 15px;
	overflow: auto;
}

.example-image, .example-code {
	float: left;
	margin: 2%;
}

.example-image {
	width: 21%;
}

.example-code {
	float: right;
	padding: 4%;
	width: 62%;
	background-color: lightgrey;
	font-family: monospace;
	color: #666;
	word-wrap: break-word;
}

/*  contribute */
#github-logo {
	float: right;
	height: 1em;
}

/*  content lists */
.content-list-card {
	margin-top: 2px;
	padding-top: 2px;
	border-top: 1px lightgrey solid;
	overflow: auto;
	position: relative;
}

.content-list-card-link {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left: 0;
	z-index: 1;
}

.content-list-asset {
	width: 20%;
	float: left;
	margin: 5px 30px 5px 0px;
}

.content-list-title {
	color: black;
	font-weight: bold;
}

.content-list-details {
	word-wrap: break-word;
}

.content-list-details > ul {
	position: relative;
	z-index: 2;
	list-style: none;
	list-style-type: none;
}

.content-list-card:hover {
	background-color: #F5F0EF;
}

/* statistics */
.totals-row {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	font-weight: bold; 
}
.stats-table-url {
	word-wrap: break-word;
}


