
/* top bar */
#logo, #title {
	float: left;
}

#logo {
	height: 1.5em;
}

#title {
	margin: 2px 5px 2px 5px;
}

.top-bar-left {
	float: left;
}

.top-bar-tagline {
	font-style: italic;
	color: grey;
}

.top-bar-right {
	margin-left: 0.5em;
}

/* publish */
#drop-zone {
	border: 1px dashed lightgrey;
	padding: 1em;
	height: 6em;
}

#asset-preview-holder {
	width: 100%;
	margin-bottom: 1em;
}

.claim-name-input-area {
	border-bottom: 1px blue solid;
	float: left;
	margin-bottom: 1em;
	font-weight: bold;
}

#claim-name-input {
	border: 0px;
}

#claim-name-input:focus {
	outline: none
}

/* show routes */
.show-asset {
	width: 100%;
	margin-bottom: 1em;
	margin-top: 1em;
}

.show-asset-lite {
	margin: 0px;
}

.panel.links {
	font-size: small;
}

input.link {
	width: 80%;
}

button.copy-button {
	padding: 4px;
	float: right;
}

.share-option {
	margin-bottom: 1em;
}

.metadata-table {
	font-size: small;
	border-collapse: collapse;
	margin-bottom: 1em;
}

.metadata-row {
	border-bottom: 1px solid lightgrey;
	margin: 2px;
}

.left-column {
	width: 30%;
	font-weight: bold;
	vertical-align: top;
}

/* trending claims */
.grid-item { 
	width: 23%; 
	margin: 0px 1% 20px 1%;
}

/* learn more */
.learn-more {
	text-align: center;
	margin-top: 2px;
	padding-top: 2px;
	border-top: 1px solid lightgrey;
}

/* examples */
.example {
	clear: both;
	width: 100%;
	margin-bottom: 15px;
	overflow: auto;
}

.example-image, .example-code {
	float: left;
	margin: 2%;
}

.example-image {
	width: 21%;
}

.example-code {
	float: right;
	padding: 4%;
	width: 62%;
	background-color: lightgrey;
	font-family: monospace;
	color: #666;
	word-wrap: break-word;
}

/*  contribute */
#github-logo {
	float: right;
	height: 1em;
}

/* all claims */

.all-claims-item {
	margin-top: 2px;
	padding-top: 2px;
	border-top: 1px lightgrey solid;
	overflow: auto;
}

.all-claims-img {
	width: 20%;
	float: left;
	margin: 5px 30px 5px 0px;
}

.all-claims-details {
	word-wrap: break-word;
	list-style: none;
	list-style-type: none;
}

/* statistics */
.totals-row {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	font-weight: bold; 
}

@media (max-width: 750px) {
	
	.all-claims-img {
		width:30%;
	}

	.all-claims-details {
		font-size: small;
	}

	.show-asset-lite {
		width: 100%;
	}

	.top-bar-tagline {
		clear: both;
		text-align: left;
		width: 100%;
	}

}

@media (max-width: 475px) {

	div#publish-active-area {
		margin-left: 2em;
		margin-right: 2em;
	}

    .all-claims-img {
		width:50%;
	}

	.top-bar-right {
		display: none;
	}


}
