
/* top bar */
#logo, #title {
	display: inline-block;
}

#logo {
	height: 1.5em;
}

#title {
	margin: 2px 5px 2px 5px;
}

/* examples */
.example {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}

.example-image {
	float: left;
	width: 20%;
	margin: 5px 15px 5px 0px;
}

/* all claims */

.all-claims-item {
	margin-top: 2px;
	padding-top: 2px;
	border-top: 1px lightgrey solid;
	overflow: auto;
}

.all-claims-img {
	width: 20%;
	float: left;
	margin: 5px 30px 5px 0px;
}

/* publish */
#drop-zone {
	border: 1px dashed lightgrey;
	padding: 1em;
	height: 6em;
}

#image-preview {
	display: none;
}

/* meme */
canvas {
  background-color: white; 
  width: 100%;
  height: auto;
}

.meme-fodder-img {
	width: 21%;
	padding: 0px;
	margin: 2% 4% 2% 0px;
	float: left;
}

/* analytics */
.totals-row {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	font-weight: bold; 
}

