html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
/* TEXT */

body, button, input, textarea, label, select, option {
	font-family: monospace;
	font-size: large;
}

p {
	padding-left: 0.3em;
}

.center-text {
	text-align: center;
}

.url-text {
	margin:0px;
	padding:0px;
}

.pull-quote {
	font-size: 3rem;
}

/* LINKS */

a, a:visited {
	text-decoration: none;
}

/* HEADERS */

h1 {
	font-size: xx-large;
}

h2 {
	font-size: x-large;
}

.h2--secondary {
	font-weight: normal;
	color: lightgrey;
}

h3 {
	font-size: large;
	font-weight: normal;
}

/* COLUMNS AND ROWS */

.row {
	clear: both;
	padding: 2rem 2rem 2rem 2rem;
	margin: 0px;
}

.row--wide {
	padding-right: 0px;
	padding-left: 0px;
}

.row--short {
	padding-top: 0px;
	padding-bottom: 0px;
}

.row--full-height {
	height: calc(100% - 9rem);
}

.column {
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

.column--1 {
	width: 10%;
}

.column--2 {
	width: 20%;
}

.column--3 {
	width: 30%;
}

.column--4 {
	width: 40%;
}

.column--5 {
	width: 50%;
}

.column--6 {
	width: 60%;
}

.column--7 {
	width: 70%;
}

.column--8 {
	width: 80%;
}

.column--9 {
	width: 90%;
}

.column--10 {
	width: 100%;
}

/* ALIGNMENT */
.align-content-left {
	text-align: left;
}

.align-content-center {
	text-align: center;
}

.align-content-right {
	text-align: right;
}

.align-content-top {
	vertical-align: top;
}

.align-content-right {
	vertical-align: bottom;
}

/* ERROR MESSAGES */

.info-message {
	font-weight: bold;
}

.info-message--success {
	color: green;
}

.info-message--failure {
	color: red;
}

/* INPUT FIELDS */

input:-webkit-autofill {
 -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.label, .input-text, .select, .textarea {
	padding: 0.3em;
	outline: none;
	border: 0px;
	background-color: white;
}

.select--no-arrow {
	-moz-appearance:none;
	-webkit-appearance: none;
}

.select--arrow {
	-moz-appearance:none;
	-webkit-appearance: none;
	align-items: left;
	background: url('../img/down_triangle.png') no-repeat right;

}

.input-text--primary, .select--primary, .textarea--primary {
	border-bottom: 1px solid dodgerblue;
}

.input-text--primary:focus, .select--primary:focus, .textarea--primary:focus {
	border-bottom: 1px solid grey;
}

.input-checkbox, .input-textarea {
	border: 1px solid grey;
}

.input-file-label {
	color: dodgerblue;
	text-decoration: underline;
	cursor: pointer;
}

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-disabled {
	border: 1px solid black;
	padding: 0.5em;
	margin: 0.5em 0.3em 0.5em 0.3em;
	color: black;
	background-color: white;
}

/* BUTTONS */

button {
	border: 1px solid black;
	padding: 0.5em;
	margin: 0.5em 0.3em 0.5em 0.3em;
	color: black;
	background-color: white;
}

button:hover {
	border: 1px solid dodgerblue;
	color: white;
	background-color: dodgerblue;
}

button:active{
	border: 1px solid dodgerblue;
	color: white;
	background-color: white;
}

/* TABLES */

table {
	width: 100%;
	text-align: left;
}

/* other */

.toggle-link {
	float: right;
}

.wrap-words {
	word-wrap: break-word;
}