@font-face {
	font-family: 'Lekton';
	src: url('../font/Lekton/Lekton-Regular.ttf');
}

@font-face {
	font-family: 'Lekton';
	src: url('../font/Lekton/Lekton-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lekton';
	src: url('../font/Lekton/Lekton-Italic.ttf');
	font-weight: normal;
	font-style: italic;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body, .flex-container {
	display: -webkit-flex;
	display: flex;
}

body, .flex-container--column {
	-webkit-flex-direction: column;
	flex-direction: column;
}

.flex-container--row {
	-webkit-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
}

.flex-container--align-center {
	align-items: center;
}

.flex-container--wrap {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-container--center {
	justify-content: center;
}

.hidden {
	display: none;
}

/* TEXT */

body, button, input, textarea, label, select, option {
	font-family: 'Lekton', monospace;
	font-size: medium;
	word-wrap: break-word;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

.h2--secondary {
	color: #9b9b9b;
}

.h2--top {
	margin-top: 0px;
}

p, h3 {

	font-size: x-large;
}

.h3--no-bottom {
	margin-bottom: 0px;
}

.p--no-top {
	margin-top: 0px;
}

.input-text--large, .textarea--large, .title-show, .description-show {
	font-size: 1.5rem;
}

.url-text {
	margin:0px;
	padding:0px;
}

.url-text--primary {
	color: black;
}

.url-text--secondary {
	color: #9b9b9b;
}

.instructions-text--large {
	font-size: 2rem;
}

.pull-quote {
	font-size: 3rem;
	margin-top: 1rem;
}

.fine-print {
	font-size: small;
}

.blue {
	color: dodgerblue;
}

/* TOOL TIPS */
/* Tooltip container */
.tooltip {
	position: relative;
}
/* Tooltip text */
.tooltip > .tooltip-text {
	visibility: hidden;
	width: 15em;
	background-color: #9b9b9b;
	color: #fff;
	text-align: center;
	padding: 0.5em;
	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 110%;
	left: 50%;
	margin-left: -8em; /* Use half of the width (120/2 = 60), to center the tooltip */
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover > .tooltip-text {
	visibility: visible;
}
/* arrow at bottom of tooltip text */
.tooltip > .tooltip-text::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #9b9b9b transparent transparent transparent;
}

/* LINKS */

a, a:visited {
	text-decoration: none;
}

/* COLUMNS AND ROWS */

.row {
	clear: both;
	margin: 0px;
}

.row--padded {
	padding: 3rem;
}

.row--margined {
	margin: 3rem;
}

.row--wide {
	padding-right: 0px;
	padding-left: 0px;
}

.row--short {
	padding-top: 0px;
	padding-bottom: 0px;
}

.row--tall {
	flex: 1 0 auto;
}

.row--no-top {
	padding-top: 0px;
}

.row--no-bottom {
	padding-bottom: 0px;
}

.column {
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

.column--1 {
	width: 10%;
}

.column--2 {
	width: 20%;
}

.column--3 {
	width: 30%;
}

.column--4 {
	width: 40%;
}

.column--5 {
	width: 50%;
}

.column--6 {
	width: 60%;
}

.column--7 {
	width: 70%;
}

.column--8 {
	width: 80%;
}

.column--9 {
	width: 90%;
}

.column--10 {
	width: 100%;
}

/* ALIGNMENT */
.
align-content-left {
	text-align: left;
}

.align-content-center {
	text-align: center;
}

.align-content-right {
	text-align: right;
}

.align-content-top {
	vertical-align: top;
}

.align-content-right {
	vertical-align: bottom;
}


/* ERROR MESSAGES */

.info-message {
	font-weight: bold;
	font-size: medium;
	margin: 0px;
	padding: 0.3em;
}

.info-message--success {
	color: green;
}

.info-message--failure {
	color: red;
}

.info-message-placeholder {
	display: flex;
	height: 2rem;
	flex-direction: column;
	justify-content: flex-end;
}

/* INPUT FIELDS */

/* blocks */
input:-webkit-autofill {
 -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.label, .input-text, .select, .textarea, .title-show {
	margin: 0px;
	padding: 0.3em;
	outline: none;
	border: 0px;
	background-color: white;
	display: inline-block;
}

.input-disabled {
	border: 1px solid black;
	padding: 0.5em;
	margin: 0px;
	color: black;
	background-color: white;
}

option {
	font-family: monospace;
}


.input-checkbox {
	border: 1px solid black;
	background: white;
}

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-radio, .label--pointer {
	cursor: pointer;
}

.blue-underlined-pointer {
	color: dodgerblue;
	text-decoration: underline;
	cursor: pointer;
}
/* modifiers */
.select--arrow {
	-moz-appearance:none;
	-webkit-appearance: none;
	background: url('../icon/Shape.svg') no-repeat right;
	cursor: pointer;
	padding-right: 1.5em;
}

.input-text--primary, .select--primary {
	border-bottom: 1px solid #9b9b9b;
}

.input-text--primary:focus, .select--primary:focus {
	border-bottom: 1px solid #9b9b9b;
}

.textarea--primary {
	border-bottom: 1px solid #9b9b9b;
}

.textarea--primary:focus {
	border-bottom: 1px solid #9b9b9b;
}

.input-text--full-width, .textarea--full-width {
	width: calc(100% - 0.6em);
}

.input-disabled--full-width {
	width: calc(100% - 1em - 2px);
}

/* BUTTONS */

button {
	cursor: pointer;
}

.button--primary {
	border: 1px solid black;
	padding: 0.5em;
	margin: 0.5em 0.3em 0.5em 0.3em;
	color: black;
	background-color: white;
}

.button--primary:hover {
	border: 1px solid dodgerblue;
	color: white;
	background-color: dodgerblue;
}

.button--primary:active{
	border: 1px solid dodgerblue;
	color: white;
	background-color: white;
}

.button--large{
	margin: 0px;
	width: calc(100% - 2px);
	padding: 2rem;
	font-size: x-large;
}

.button--cancel{
	border: 0px;
	background-color: white;
	color: #9b9b9b;
}

/* TABLES */

table {
	width: 100%;
	text-align: left;
}

/* NAV BAR */

.nav-bar {
	border-bottom: 0.5px solid #cacaca;
}

.nav-bar-logo {
	vertical-align: text-bottom;
	height: 2rem;
}

.nav-bar-tagline {
	font-size: small;
}

.nav-bar-link {
	padding: 1.5rem;
	display: inline-block;
	color: black;
	font-weight: normal;
	color: black;
	border-bottom: 2px solid white;
}

.nav-bar-link--last {
	padding-right: 0px;
}

.nav-bar-link:hover {
	color: dodgerblue;
}

.nav-bar-link--active {
	color: dodgerblue;
	border-bottom: 2px solid dodgerblue;
}

/* PUBLISH FORM */

.dropzone {
	border: 2px dashed #9b9b9b;
	text-align: center;
	position: relative;
}

.dropzone:hover, .dropzone--drag-over {
	border: 2px dashed dodgerblue;
	cursor: pointer;
}

#primary-dropzone-instructions, #dropbzone-dragover {
	z-index: -1;
}

.position-absolute {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

#asset-preview-holder {
	position: relative;
}

#asset-preview {
	display: block;
	padding: 0.5rem;
	width: calc(100% - 1rem);
}

/* Show page */

.video-show, .gifv-show, .image-show {
	display: block;
	width: 100%;
}

#video-player {
	background-color: black;
	cursor: pointer;
}

.show-asset-light {
    max-width: 100%;
}

/* item lists */

.content-list-item {

}

.content-list-item-asset {
	width: 90%;
}

.content-list-item-link {

}

/* other */

.toggle-link {
	float: right;
}

.wrap-words {
	word-wrap: break-word;
}

#new-release-banner {
	font-size: small;
	background-color: dodgerblue;
	color: white;
	text-align: center;
}

.progress-bar--inactive {
	color: lightgrey;
}

.progress-bar--active {
	color: dodgerblue;
}

/* ---- grid items ---- */

.grid-item {
	width: calc(33% - 2rem);
	padding: 0px;
	margin: 1rem;
	float: left;
	display: block;
}