
@media (max-width: 1050px) {

	.nav-bar-title--tagline {
		display: none;
	}
}

@media (max-width: 750px ) {

	body, button, input, textarea, label, select, option {
		font-size: medium;
	}

	.column--med-10 {
		width: 100%;
	}

	.h2--top {
		margin-top: 1em;
	}

	.nav-bar {
		height: 9rem;
	}

	.row--full-height {
		height: calc(100% - 16rem);
	}

	.nav-bar-title {
		padding-bottom: 0px;
	}

	.nav-bar-link-section {
		position: relative;
		padding-left: 0px;
	}

	.column--sml-10 {
		width: 100%;
	}

	#publish-active-area > .row, #publish-details > .row, #channel-login-form > .row, #publish-channel-form > .row {
		padding: 1em 0px 1em 0px;
	}

}

@media (max-width: 450px) {

	body, button, input, textarea, label, select, option {
		font-size: small;
	}

}