@media (max-width: 1050px) {

	.nav-bar--center {
		display: none;
	}

}

@media (max-width: 750px ) {

	body, button, input, textarea, label, select, option, p, h3 {
		font-size: medium;
	}

	.instructions-text--large, .pull-quote {
		font-size: 1.5rem;
	}

	.column--med-10 {
		width: 100%;
	}

	.column--sml-10 {
		width: 100%;
	}

	.h2--top {
		margin-top: 1em;
	}

	.nav-bar-logo {
		height: 1rem;
	}

	.nav-bar-link {
		font-size: small;
		padding: 1rem 0.5rem 1rem 0.5rem;
	}

}

@media (max-width: 500px) {

	.nav-bar-logo {
		height: 1rem;
	}

	.row--padded {
		padding: 1rem;
	}

	.row--short {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.row--margined {
		margin: 1rem;
	}

	body, button, input, textarea, label, select, option, p, h3, .fine-print {
		font-size: small;
	}

	.instructions-text--large, .pull-quote, .input-text--large, .button--large {
		font-size: medium;
	}

	.grid-item {
		width: calc(100% - 2em);
		float: none;
		padding: 1em;
		margin: 0px;
	}

	.info-message-placeholder {
		height: 2em;
	}

	.info-message {
		font-size: small;
	}


}

@media (max-width: 360px) {

	.nav-bar-link {
		font-size: x-small;
	}

	body, button, input, textarea, label, select, option, p, h3, .fine-print, .instructions-text--large {
		font-size: x-small;
	}

	.pull-quote, .input-text--large, .button--large {
		font-size: small;
	}

}