/* NAV BAR */

/* blocks */
.nav-bar {

}

.nav-bar-title-section, .nav-bar-link-section {
	padding: 0px 1em 0px 1em;
}

.nav-bar-title-section {
	overflow: hidden;
	border-bottom: 2px solid #eaeaea;
	position: relative;
}

.nav-bar-link-section {
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 1;
}

/* elements */
.nav-bar-logo, .nav-bar-title, .nav-bar-link {
	padding: 1.5rem 0.5rem 1.5rem 0.5rem;
	display: inline-block;
	color: black;
}

.nav-bar-title--superscript {
 	font-size: small;
	vertical-align: top;
}

.nav-bar-link {
	border-bottom: 2px solid white;
}
.nav-bar-link:hover {
	border-bottom: 2px solid blue;
}