/* Publish Form */

#publish-dropzone-wrapper, #publish-form-wrapper {
	height: 100%;
}

#publish-dropzone {
	border: 2px dashed lightgrey;
    height: calc(100% - 2px);
	position: relative;
}

#publish-dropzone:hover {
	border: 2px dashed dodgerblue;
}

#publish-dropzone-instructions {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-40%);
}

.asset-preview {
	display: block;
	width: 100%;
}

/* Show page */

.asset-display {
	display: block;
	width: 100%;
}

.copy-input {

}

/* item lists */

.content-list-item {

}

.content-list-item-asset {
	width: 90%;
}

.content-list-item-link {

}