/* Publish Form */

.publish-dropzone {
	border: 1px dashed lightgrey;
	padding: 1em;
	height: 13em;
	background: #F5F0EF;
	height: 100%;
}

.asset-preview {
	display: block;
	width: 100%;
}


/* Show page */

.asset-display {
	display: block;
	width: 100%;
}

.copy-input {

}