#drop-zone {
	border: 1px dashed lightgrey;
	padding: 1em;
	height: 200px;
	width: 100%;
}

.all-claims-img {
	height: 200px;
}

#image-preview {
	display: none;
}

.row {
	margin: 10px 0px 10px 0px;
}