canvas {
  background-color: white; 
  width: 100%;
  height: auto;
}

#drop-zone {
	border: 1px dashed lightgrey;
	padding: 1em;
	height: 200px;
	width: 100%;
}

#image-preview {
	display: none;
}

#tweet-meme-button {
	float: left;
	margin-right: 5px;
}

.row {
	margin: 10px 0px 10px 0px;
}

.all-claims-img {
	height: 200px;
}



