module.exports = {
  analytics: {
    googleId: 'default',  // optional: add a google id
  },
  assetDefaults: {
    description: 'An asset published on Spee.ch',  // optional: add a default description for assets on your site
    thumbnail  : 'https://spee.ch/assets/img/video_thumb_default.png', // optional: add a default thumbnail image for assets on your site
    title      : 'Spee.ch', // optional: add a default title for assets on your site
  },
  auth: {
    sessionKey: 'default',  // choose a secret session key
  },
  details: {
    description: 'Open-source, decentralized image and video sharing.',  // add a description for your site
    host       : 'https://some.cool.site',  // add the host of your site (e.g. 'https://spee.ch')
    port       : 3000,  // add the port your site should listen on
    title      : 'Spee.ch',  // add a title for your site
    twitter    : '@default',  // optional: add the twitter handle for your site
  },
  publishing: {
    additionalClaimAddresses: [],  // optional: if you have other wallet addresses that you have used to publish from, enter them here
    disabled                : false, // optional: if 'true' this will disable publishing
    disabledMessage         : 'Please check back soon.',  // optional: if publishing is disabled, this message will be displayed instead
    primaryClaimAddress     : 'default', // required: choose an address from your lbry wallet and enter it here
    thumbnailChannel        : 'default',  //
    thumbnailChannelId      : 'default',
    uploadDirectory         : '/home/lbry/Uploads',
  },
};
