module.exports = {
  wallet: {
    lbryClaimAddress: null,  // choose an address from your lbry wallet
  },
  analytics: {
    googleId: null, // google id for analytics tracking; leave `null` if not applicable
  },
  sql: {
    database: null,  // name of mysql database
    username: null,  // username for mysql
    password: null,  // password for mysql
  },
  logging: {
    logLevel         : null,  // options: silly, debug, verbose, info
    slackWebHook     : null,  // enter a webhook if you wish to push logs to slack; otherwise leave as `null`
    slackErrorChannel: null,  // enter a slack channel (#example) for errors to be sent to; otherwise leave null
    slackInfoChannel : null,  // enter a slack channel (#info) for info level logs to be sent to otherwise leave null
  },
  session: {
    sessionKey: null,  // enter a secret key to be used for session encryption
  },
  files: {
    uploadDirectory: null,  // enter file path to where uploads/publishes should be stored
  },
  site: {
    name: 'Spee.ch',
    host: 'https://spee.ch',
  },
  claim: {
    defaultTitle      : 'Spee.ch',
    defaultThumbnail  : 'https://spee.ch/assets/img/video_thumb_default.png',
    defaultDescription: 'Open-source, decentralized image and video sharing.',
  },
  testing: {
    testChannel        : '@testpublishchannel', // a channel to make test publishes in
    testChannelPassword: 'password',  // password for the test channel
  },
  api: {
    apiHost: 'localhost',
    apiPort: '5279',
  },
};
