.align-content-left {
  text-align: left;
}

.align-content-center {
  text-align: center;
}

.align-content-right {
  text-align: right;
}

.align-content-top {
  vertical-align: top;
}

.align-content-bottom {
  vertical-align: bottom;
}
