.asset-main {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asset-display {
  display: flex;
  min-height: 50vh
}

.asset-title {
  padding-bottom: $thin-padding;
  text-align: center;

  @media (min-width: $break-point-mobile) {
    padding-top: $secondary-padding;
  }
}

.asset-image, .asset-video {
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  object-position: center;
}

/*below must die if this is intended to be shareable component! it also probably doesn't need to be*/

.visible-content {
  margin: 0;
  padding-bottom: 30px;
  position: relative;
  width: 100%;

  &.closed {
    box-shadow: none;

    &:after {
      box-shadow: none;
    }
  }

  &:after {
    box-shadow: 0px 2px 3px 2px $shadow-color;
    content: '';
    height: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 100;
  }
}


.vertical-split, .visible-content {
  flex           : 1 0 auto;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items    : center;
};

.collapse-content {
  flex-grow: 0;
  @media (max-width: $break-point-tablet) {
    max-width: 100%;
    width: 100%;
  }
}

.collapse-content.closed{
  display: none;
}

.collapse-button {
  background: none;
  border: none;
  display: block;
  margin: 15px auto 0;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 0px;

  @media (max-width: $break-point-tablet) {
    padding: 0;
  }

  svg {
    stroke: $primary-color;
    &.plus-icon {
      transform: rotate(0);
      transition: all 0.4s ease;
    }

  }

  &:hover {
    .plus-icon {
      transform: rotate(-180deg);
    }
  }
}

.asset-info {
  $asset-info-width: 1000px;
  max-width: $asset-info-width;
  margin: $primary-padding;
  max-width: 100%;

  @media (max-width: $break-point-tablet) {
    margin: $primary-padding $secondary-padding;
  }

  @media (max-width: $break-point-mobile) {
    margin: $primary-padding 0;
  }
}

.asset-footer {
  border-top: 1px solid $grey-border;
  padding-top: $primary-padding;
  margin-top: $primary-padding;
  color: $grey;
}
