.asset-preview {
  position: relative;
  background: $card-color;
  padding: $thin-padding;
  color: $text-color;
  width: 240px;
  border: $subtle-border;
  height: 280px;
  &:hover {
    border: 1px solid $highlight-border-color;
    color: #000000;
  }
}

.asset-preview__label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 7.3em;
}

.asset-preview__label-text {
  height: 4.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.asset-preview__blocked {
  box-sizing: border-box;
  background: black;
  color: white;
  height: 64%;
  padding: $thin-padding;
  margin-bottom: $thin-padding;
}

.asset-preview__image {
  width  : 240px;
  height : 180px;
  overflow: hidden;
  object-fit: cover;
  padding: 0;
  margin : 0;
  box-sizing: border-box;
}

h3.asset-preview__title {
  margin: 0;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 4em;
  font-size: $text-large;
}
