.column {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.column--1 {
  width: 10%;
}

.column--2 {
  width: 20%;
}

.column--3 {
  width: 30%;
}

.column--4 {
  width: 40%;
}

.column--5 {
  width: 50%;
}

.column--6 {
  width: 60%;
}

.column--7 {
  width: 70%;
}

.column--8 {
  width: 80%;
}

.column--9 {
  width: 90%;
}

.column--10 {
  width: 100%;
}
