.dropzone-wrapper {
  // fill the parent flex container
  flex: 1 0 auto;
  // be a flex container for children
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
}

.dropzone {
  border: 2px dashed $drop-zone-border-color;
  // fill the parent flex container
  flex: 1 0 auto;
  // be a flex container for children
  display: flex;
  padding: $thin-padding;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.dropzone:hover, .dropzone--active {
  border: 2px dashed $drop-zone-border-hover;
  cursor: pointer;
}

.dropzone-dropit-display, .dropzone-instructions-display {
  padding: 1em;
  text-align: center;
}

.dropzone-dropit-display
{
  color: $primary-color;
}

.dropzone-preview-wrapper {
  position: relative;
  width: 100%;
  .dropzone-preview-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
  }
}

.dropzone-preview-image {
  display: block;
  width: 100%;
}

.dropzone-preview-memeify {
  margin-top: 3em;
}

.dropzone-memeify-button {
  background: $primary-color;
  color: #fff;
  cursor: pointer;
  font-size: .8em;
  padding: 3px 6px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.dropzone-memeify-saveMessage {
  padding-top: .25em;
  position: relative;
  top: .5em;
}

.dropzone-memeify-toolbar {
  /* TODO: Cleanup `!important` */
  background: $primary-color !important;
  left: -1em !important;
  right: -1em !important;
  top: -4em !important;
}

.dropzone-instructions-display__chooser-label {
  text-decoration: underline;
}
