@font-face {
  font-family: 'Lekton';
  src: url('font/Lekton/Lekton-Regular.ttf');
}

@font-face {
  font-family: 'Lekton';
  src: url('font/Lekton/Lekton-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lekton';
  src: url('font/Lekton/Lekton-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
