.nav-bar {
  box-sizing: border-box;
  padding: $thin-padding $primary-padding;
  background: $chrome-color;
  flex: 0 1 auto;
  width: 100%;
  border-bottom: $subtle-border;
  color: $primary-color;

  @media (max-width: $break-point-mobile) {
    margin-left: 15px;
    margin-right: 15px;
  }
  input {
    background: $chrome-color;

  }
  select {
    background: $chrome-color;
    color: $text-color;
  }
}

.nav-bar-link {
  padding: calc(1em - 2px);
  display: inline-block;
  font-size: $text-medium;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.nav-bar-logo {
  cursor: pointer;
}

@media (max-width: $break-point-tablet ) {
  .nav-bar-link {
    padding-top: calc(1em - 2px);
    padding-right: 1em;
    padding-bottom: calc(1em - 2px);
    padding-left: 1em;
  }

}

@media (max-width: $break-point-mobile ) {
  .nav-bar-link {
    padding-top: calc(0.5em - 2px);
    padding-right: 0.5em;
    padding-bottom: calc(0.5em - 2px);
    padding-left: 0.5em;
  }
}
