.page-layout {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  .content {
    flex: 1 0 auto;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    background: $base-color;

    @media (min-width: $break-point-tablet) {
      padding: $primary-padding;
    }

    @media (max-width: $break-point-tablet) {
      padding: $tertiary-padding;
    }
  }
}
