.row {
  margin-bottom: 1.2em;
}

.row-labeled {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-bottom: $tertiary-padding;
}

.row-labeled-label {
  width: 100%;
  display: flex;
  align-items: center;
  flex: 1;
}
.row-labeled-content {
  align-self: center;
  width: 100%;
}

@media (max-width: $break-point-tablet ) {
  .row-labeled {
    flex-direction: column;
  }
  .row-labeled-label {
    width: 100%;
  }
  .row-labeled-content {
    width: 100%;
  }
}
