// set defaults
h1 {
 font-size: xx-large;
}

h2, h3, p {

  font-size: x-large;
}

h2 {
  text-decoration: underline;
}

h3 {
  font-weight: bold;
}

body, button, input, textarea, label, select, option {
  font-family: 'Lekton', monospace;
  font-size: large;
}

// color modifiers
.text--primary {
  color: $primary-color;
}

.text--secondary {
  color: $secondary-color;
}

.text--tertiary {
  color: $tertiary-color;
}

.text--interactive {
  color: $interactive-color;
}

// special texts

.text--pull-quote {
  font-size: 3rem;
  margin-top: 1rem;
}

.text--fine-print {
  font-size: small;
}

.text--underline {
  text-decoration: underline;
}
