body, button, input, textarea, label, select, option, #channel-publish-in-progress > p, #channel-publish-done > p {
  font-family: 'Lekton', monospace;
  font-size: large;
}

h3, p {

  font-size: x-large;
}

.text--large {
  font-size: 2rem;
}

.text--disabled {
  color: #9b9b9b;
}

.pull-quote {
  font-size: 3rem;
  margin-top: 1rem;
}

.fine-print {
  font-size: small;
}

#show-body > .fine-print {
  text-align: center;
}

.blue {
  color: #4156C5;
}

.blue--underlined {
  color: #4156C5;
  text-decoration: underline;
}
