$base-color: white;
$primary-color: black;
$secondary-color: #9b9b9b;
$tertiary-color: #ccccc0;
$interactive-color: blue;
$success-color: green;
$failure-color: red;

$primary-padding: 3em;
$secondary-padding: 2em;
$thin-padding: 0.3em;
$full-width-thin-padding: calc(100% - 0.6em);

$background-color: $base-color;
$font-color: $primary-color;

$button-border-width: 1px;
$button-border-strength: solid;
$button-full-width: calc(100% - 2px);

$input-padding: 0.3em;
$input-full-width: calc(100% - 0.6em);

$text-xx-large: 2.5em;
$text-x-large: xx-large;
$text-large: x-large;
$text-medium: large;
$text-small: medium;
$text-x-small: small;

$break-point-xx-large: 1400px;
$break-point-x-large: 1290px;
$break-point-large: 1000px;
$break-point-medium: 800px;
$break-point-small: 500px;
$break-point-x-small: 400px;

