.button--tertiary, .button--tertiary:focus, .button--tertiary:active {
  border: 0;
  color: $secondary-color;
  background-color: $background-color;
}

.button--tertiary:hover {
  color: $primary-color;
}

.button--tertiary:active, .button--tertiary:focus {
  color: $secondary-color;
  background-color: $tertiary-color;
}
