.nav-bar {
  padding-left: $primary-padding;
  padding-right: $primary-padding;
  border-bottom: 0.5px solid $tertiary-color;
  .select--arrow {
    padding: 0 1.5em 0 0;
  }
}

// old

.nav-bar--left {
  align-self: center;
}

.nav-bar-tagline {
  font-size: small;
}

.nav-bar-link {
  padding: $secondary-padding;
  display: inline-block;
}

.nav-bar-logo {
  cursor: pointer;
}
