.nav-bar {
  padding-left: 2em;
  padding-right: 2em;
  border-bottom: 0.5px solid #cacaca;
}

// old

.nav-bar--left {
  align-self: center;
}

.nav-bar-tagline {
  font-size: small;
}

.nav-bar-link {
  padding: 1.5rem;
  display: inline-block;
}

.nav-bar-logo {
  cursor: pointer;
}
