.page-content {
  margin: 2em;
  // fill the parent flex container
  flex: 1 0 auto;
  // be a flex container for children
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
};
