select {
  margin: 0;
  display: inline-block;
}

.select--arrow {
  -moz-appearance:none;
  -webkit-appearance: none;
  background: url('./icon/chevron-down.svg') no-repeat right;
  cursor: pointer;
  padding-right: 1.5em;
  padding-left: $input-padding
}
