.vertical-split {
  flex           : 1 0 auto;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items    : center;
};

.collapse-content.closed{
  display: none;
}

.collapse-button {
  outline: none;
  background: none;
  border: none;
  display: block;
  margin: 15px auto 0;
  width: 24px;
  height: 24px;
  svg {
    stroke: $brand-color;
  }
}