.asset-display {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
  position: relative;
  width: 100%;
  $height-delta: 43 / 16 + ($primary-padding * 2); //fix 43!!! nav height
  //max-height: calc(100vh - #{$height-delta});
  height: calc(100vh - #{$height-delta});
  overflow: hidden;
}

.asset-title {
  color: #2E2F31;
  font-size: $text-x-large;
  font-weight: normal;
  letter-spacing: 0;
  margin-top: $primary-padding;
  text-align: center;

  @media (max-width: $break-point-tablet) {
    padding: 0 $tertiary-padding;
  }
}

.asset-image, .asset-video {
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  object-position: center;
}

/*below must die if this is intended to be shareable component! it also probably doesn't need to be*/

.visible-content {
  margin: 0;
  padding-bottom: 30px;
  position: relative;
  width: 100%;

  &.closed {
    box-shadow: none;

    &:after {
      box-shadow: none;
    }
  }

  &:after {
    box-shadow: 0px 2px 3px 2px $shadow-color;
    content: '';
    height: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 100;
  }
}

.asset-info {
  $asset-info-width: 1000px;
  max-width: $asset-info-width;

  @media (max-width: $asset-info-width) {
    margin: 0px auto;
    max-width: 100%;
    width: calc(100% - 80px);
  }

  @media (max-width: $break-point-tablet) {
    width: calc(100% - 30px);
  }

  .horizontal-split {
    justify-content: center;

    .column {
      padding-top: $primary-padding;
      padding-bottom: $primary-padding;

      .row-labeled
      {
        margin-bottom: $secondary-padding;
        &:last-child { margin-bottom: 0; }
      }

      &:first-child {
        border-right: 1px solid $grey-border;
        margin-right: -1px;
        padding-right: 40px;

        @media (max-width: $break-point-tablet) {
          border: none;
          margin: 0;
          order: 2;
          padding: 0;
        }
      }

      &:last-child {
        border-left: 1px solid $grey-border;
        padding-left: 60px;

        @media (max-width: $break-point-tablet) {
          border: none;
          margin: 0;
          padding: 40px 0 0 0;
        }
      }
    }
  }

  p.asset-description {
    color: #2E2F31;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
    padding-bottom: 80px;
    white-space: pre-line;
    width: 360px;

    @media (max-width: $break-point-tablet) {
      margin: 22px 0 60px;
      max-width: 600px;
      padding: 0;
      width: 100%;
    }
  }

  .asset-information {
    width: 320px;

    @media (max-width: $break-point-tablet) {
      border-bottom: 1px solid $grey-border;
      min-width: 100%;
      padding-bottom: 30px;
      width: 100%;
    }
  }

}

.asset-footer {
  border-top: 1px solid $grey-border;
  padding: $tertiary-padding $primary-padding;
  color: $grey;
}