.asset-display {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
}

.asset-title-wrap {
  margin-top: 90px;
  .asset-title {
    font-weight: normal;
    font-size: 26px;
    color: #2E2F31;
    letter-spacing: 0;
    text-align: center;
    line-height: 32px;
  }
}

.asset-image, .asset-video {
  margin : 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}
.asset-video {
  border: 1px solid #d0d0d0;
  margin: 16px;
  padding: 6px;
}
.vertical-split .asset-display {
    height: 90vh;
}


.asset-information-wrap {
  max-width: 800px;

  p.asset-description {
    white-space: pre-line;
    font-size: 14px;
    color: #2E2F31;
    letter-spacing: 0;
    line-height: 18px;
  }

  .asset-information {
    width: 320px;
  }

}