body {
  margin: 0;
  padding: 0;
  height: 100%;
  word-wrap: break-word;
}


body {
  display: -webkit-flex;
  display: flex;
}

body {
  -webkit-flex-direction: column;
  flex-direction: column;
}
